<html style="overflow: hidden; height: 100%;">
  <body id="error-body" style="height: 100%;">
    <ul class="error-top-background">
    </ul>

    <div class="error-container">
      <h1 class="main-title">
        <font color="#DAA520">O</font><font color="#fff">nli<font color="#FA8072">n</font></font><font color="#4682B4">e</font> <font color="#4DADA1">V</font><font color="#fff">isi</font><font color="#DF907C">t</font>
      </h1>
      <div class="error-layout">
        <div class="layout-body">
          <div class="container has-text-centered" style="font-family: 'Quicksand', sans-serif;">
            <h1 class="has-text-centered">
              このページはご利用いただけません
            </h1>
            <p>
              リンクに問題があるか、ページが削除された可能性があります。
            </p>
            <% if user_signed_in? || facility_signed_in? %>
              <span><%= link_to "マイページに戻る", user_path(current_user), data: {"turbolinks" => false} if current_user %></span>
              <span><%= link_to "HOMEに戻る", facility_home_facility_path(current_facility), data: {"turbolinks" => false} if current_facility %></span>
            <% else %>
              <span><%= link_to "TOPページに戻る", root_path, data: {"turbolinks" => false} %></span>
            <% end %>
          </div>
        </div>
      </div>
    <div>
  </body>
<html>

<script>

</script>
