<section class="hero is-medium" id="hero-2">
  <div class="main_img" style="background-image: url('/static_pages5.jpg')"></div>
  <div class="main_img" style="background-image: url('/video_room.jpg')"></div>
  <div class="main_img" style="background-image: url('/static_pages2.jpg')"></div>
  <div class="main_img" style="background-image: url('/static_pages1.jpg')"></div>
  <div class="hero-body">
    <div class="container has-text-centered" style="font-family: 'Quicksand', sans-serif;">
      <h1 class="has-text-centered" style="font-size: 80px;">
        <font color="#DAA520">O</font><font color="#fff">nli<font color="#FA8072">n</font></font><font color="#4682B4">e</font> <font color="#4DADA1">V</font><font color="#fff">isi</font><font color="#DF907C">t</font>
      </h1>
      <p class="is-size-3">
        大切な人と結ぶ出会いの時間
      </p>
    </div>
  </div>
</section>


<section class="hero is-medium has-text-centered" id="hero-4">
  <% if user_signed_in? %>
    <div class="tabs is-toggle is-toggle-rounded is-fullwidth">
      <div class="container">
        <ul>
          <li class="tab is-active" onclick="openTab(event,'WebDev')"><a class="has-text-weight-semibold">施設登録</a></li>
          <li class="tab" onclick="openTab(event,'WebAud')"><a class="has-text-weight-semibold">マイページ</a></li>
        </ul>
      </div>
    </div> 
  <% end %>
  <div class="hero-body">
    <div class="container">
      <% if user_signed_in? %>
        <div id="WebDev" class="content-tab">
          <div class="inline-block_content">
            <img src="user_mypage.jpg" width="400" height="300">
          </div>
          <div class="inline-block_content">
            <p class="content1 has-text-left is-size-9 has-text-weight-semibold">
              介護施設、病院、保育園などを様々なジャンルから<br>
              利用したい施設を登録することで<br>
              ビデオチャットの予約をすることができます。
            </p><br>
            <%= link_to "#", class: "btn-animation-facility" do %>
              <span class="icon">
                <i class="far fa-building"></i>
              </span>&nbsp;
              <span>
                施設登録
              </span>
            <% end %>
          </div>
        </div>
        <div id="WebAud" class="content-tab" style="display:none">
          <div class="inline-block_content">
            <p class="content1 has-text-left is-size-9 has-text-weight-semibold">
              登録した施設、予約の確認、写真の閲覧ができます。<br>
            </p><br>
            <%= link_to "#", class: "btn-animation-login" do %>
              <span class="icon">
                <i class="far fa-user"></i>
              </span>&nbsp;
              <span>
                マイページ
              </span>
            <% end %>
          </div>
          <div class="inline-block_content">
            <img src="facility_registration.jpg" width="400" height="300">
          </div>
        </div>
      <% elsif !user_signed_in? || !facility_signed_in? %>
        <div class="inline-block_content">
          <p class="content1 has-text-left is-size-9 has-text-weight-semibold">
            これからの暮らしに欠かすことのできない要素として<br>
            オンラインをとらえ離れていてもすぐに繋がれる<br>
            <strong>“Online Visit(オンラインビジット)”</strong>を作りました。<br>
            ログインすることで 面会予約、ビデオチャット、<br>
            写真の閲覧 が可能になります。<br>
            ユーザの新規登録がお済みでない方も<br>
            こちらのログインボタンよりお入りください<br>
          </p><br>
          <%= link_to user_session_path, class: "btn-animation-login" do %>
            <span class="icon">
              <i class="fas fa-users"></i>
            </span>&nbsp;
            <span>
              ログイン
            </span>
          <% end %>
        </div>&emsp;&emsp;
        <div class="inline-block_content">
          <img src="static_pages5.jpg" width="400" height="300">
        </div>
      <% end %>
    </div>
  </div>
</section>

<script>
  function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("content-tab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";
  }
</script>
