<body class="image-layout">
  <section class="section" >
    <div class="container">
      <article class="media">
        <div class="media-content">
          <div class="content has-text-centered">
            <h1 class="main-title">
              <strong class="is-size-1" style="font-family: Georgia;">Online Visit</strong>
            </h1>
            <h2 class="sub-title">オンラインで大切な家族との時間を共有</h2>
          </div>
            <div class="button-position">
              <div class="columns is-centered">
                <div class="column is-3 top-btn-position">
                  <div class="top-btn">
                    <button class="button is-primary is-rounded has-text-weight-bold">予約する</button>
                  </div>
                  <div class="top-btn">
                    <button class="button is-success is-rounded has-text-weight-bold">予約情報確認</button>
                  </div>
                  <div class="top-btn">
                    <button class="button is-info is-rounded has-text-weight-bold">通話を開始する</button>
                  </div>
<!--                  <div class="top-btn">-->
<!--                    <p id="explanation">ご利用前に<span id="span-color">ご入居者様の登録申請</span>をして下さい。<br>入力情報確認後、本システム利用可能になります。</p>-->
<!--                    <button class="button is-danger is-rounded has-text-weight-bold">入居者様の登録申請</button>-->
<!--                  </div>-->
                </div>
                <div class="top-btn">
                  <p id="explanation">ご利用前に<span id="span-color">ご入居者様の登録申請</span>をして下さい。<br>入力情報確認後、本システム利用可能になります。</p>
                  <button class="button is-danger is-rounded has-text-weight-bold red-btn">ご入居者様の登録申請</button>
                </div>
              </div>
            </div>
        </div>
      </article>
      <div class="columns is-centered">
        <div class="column">
        </div>
      </div>
    </div>
  </section>
</body>