<section class="hero is-medium" id="hero-2">
  <div class="main_img" style="background-image: url('/static_pages5.jpg')"></div>
  <div class="main_img" style="background-image: url('/video_room.jpg')"></div>
  <div class="main_img" style="background-image: url('/static_pages2.jpg')"></div>
  <div class="main_img" style="background-image: url('/static_pages7.jpg')"></div>
  <div class="main_img" style="background-image: url('/static_pages1.jpg')"></div>
  <div class="hero-body">
    <div class="container has-text-centered" style="font-family: 'Quicksand', sans-serif;">
      <h1 class="has-text-centered" style="font-size: 100px;">
        <font color="#DAA520">O</font><font color="#fff">nli<font color="#FA8072">n</font></font><font color="#4682B4">e</font> <font color="#4DADA1">V</font><font color="#fff">isi</font><font color="#DF907C">t</font>
      </h1>
      <p class="is-size-3 has-text-weight-semibold">
        <font color="#4682B4">大切</font><font color="#fff">な</font><font color="#4DADA1">人</font>と結ぶ<font color="#FA8072">出会い</font><font color="#fff">の</font><font color="#FFD700">時間</font>
      </p>
    </div>
  </div>
</section>


<section class="hero is-medium has-text-centered" id="hero-4">
  <% if user_signed_in? %>
    <div class="tabs is-toggle is-toggle-rounded is-fullwidth">
      <div class="container">
        <ul>
          <li class="tab is-active" onclick="openTab(event,'WebDev')"><a class="has-text-weight-semibold">ご入居者様登録申請</a></li>
          <li class="tab" onclick="openTab(event,'WebAud')"><a class="has-text-weight-semibold">お知らせ表示</a></li>
          <li class="tab" onclick="openTab(event,'WebThd')"><a class="has-text-weight-semibold">登録施設</a></li>
        </ul>
      </div>
    </div> 
  <% end %>
  <div class="hero-body">
    <div class="container has-text-centered">
    <% unless user_signed_in? || facility_signed_in? %>
      <%= link_to user_session_path, class: "button is-info is-large is-rounded is-focused has-text-weight-bold" do %>
        <span class="icon">
          <i class="fas fa-house-user"></i>
        </span>
        <span>
          ログイン
        </span>
      <% end %><br><br>
      <strong><span class="is-size-4"><font color="#CD853F">ご家族の方はこちらから</font></span></strong>
    <% end %>
    <% if user_signed_in? %>
      <div id="WebDev" class="content-tab">
      </div>
      <div id="WebAud" class="content-tab" style="display:none">
      </div>
      <div id="WebThd" class="content-tab" style="display:none">
      </div>
    <% end %>
    </div>
  </div>
</section>

<script>
  function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("content-tab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";
  }
</script>
