<body class="image-layout">
  <section class="section" >
    <div class="container">
      <article class="media">
        <div class="media-content">
          <div class="content has-text-centered">
            <h1 class="main-title">
              <strong class="top-title">Online Visit</strong>
            </h1>
            <h2 class="sub-title" style="font-size: 40px; margin-right:80px;">オンラインで大切な家族との時間を共有</h2>
          </div>
            <div class="button-position">
              <div class="columns is-centered">
              </div>
            </div>
        </div>
      </article>
      <div class="columns is-centered">
        <div class="column">
        </div>
      </div>
    </div>
  </section>
</body>


<!--ここから下を追加しました-->
<% if user_signed_in? %>
  <h1 style="margin-left:40px; color:white; font-size:40px;">【ご利用施設一覧】</h1>
  <% current_user.facilities.each do |facility| %> <!--current_user.facilitiesでログイン中のユーザが登録済みの施設を全て取得-->
    <%= link_to_unless_current facility.name, facility_home_path(facility),  style:"margin-right:40px; color:white; font-size:30px;" %><br>
  <% end %>
<% end %>
