<!--モーダルを閉じる-->
$("div").removeClass("is-active");

<!--コントローラから受け取ったフラッシュの内容によって表示を出し分ける-->
<% if notice.present? %>
  $("#added-message").html("<div class='notification is-success has-text-weight-bold'><p class='notice'><%= notice %></p></div>").hide().fadeIn(100);
<% else %>
  $("#added-message").html("<div class='notification is-danger has-text-weight-bold'><p class='alert'><%= alert %></p></div>").hide().fadeIn(100);
<% end %>

<!--フラッシュを12000ms表示し、1200msの速さでfadeOut（非表示）する-->
$(function(){
  setTimeout("$('#added-message').fadeOut(1200)", 12000)
})
