<body class="image-layout">
  <section class="hero login-hero-size" >
    <div class="container">
      <article class="media">
        <div class="media-content">
          <div class="content has-text-centered">            
          </div>
            <div class="button-position">
              <div class="columns is-centered">
                <div class="column is-6 top-btn-position">
                <%= current_user.name %>のアカウントを新規作成致しました。             
                </div>
              </div>
            </div>
        </div>
      </article>
      <div class="columns is-centered">
        <div class="column">
        </div>
      </div>
    </div>
  </section>
</body>


