<div class="privacy_policy">
</div>
<div class="pp-title">
  プライバシーポリシー
</div>
<div class="pp-border">
</div>
<div class="pp-sentence">
アプリ「Online_Visit」では、福祉施設入居者とそのご家族様がインターネット上で繋がることができるアプリです。当アプリでは運営上多くのお客様や従業者の個人情報を取扱うこととなるため、倫理綱領に基づいて本方針を定め、個人情報管理体制を確立し、責任ある対応を実現するものとします。
</div>  

<div class="pp-title">
  個人情報の取り扱い
</div>
<div class="pp-sentence">
当アプリは、当プライバシーポリシーを掲示し、当プライバシーポリシーに準拠して提供されるサービス（以下「本サービス」といいます）の利用企業・提携企業・団体等（以下「利用企業等」といいます）および本サービスをご利用になる方（以下「ユーザー」といいます）のプライバシーを尊重し、ユーザーの個人情報（以下の定義に従います）の管理に細心の注意を払い、これを取扱うものとします。

</div>  
<div class="pp-title">
個人情報
</div>
<div class="pp-sentence">
個人情報とは、ユーザー個人に関する情報であって、当該情報を構成する氏名、電話番号、メールアドレス、その他の記述等により当該ユーザーを識別できるものをいいます。また、その情報のみでは識別できない場合でも、他の情報と容易に照合することができ、結果的にユーザー個人を識別できるものも個人情報に含まれます。
</div> 

<div class="pp-title">
個人情報の利用目的
</div>
<div class="pp-sentence">
個人情報の利用目的は、ユーザーの個人認証です。それ以外の目的では使用致しません。
</div> 

<div class="pp-title">
個人情報の第三者への提供
</div>
<div class="pp-sentence">
当アプリは、原則として、ユーザー本人の同意を得ずに個人情報を第三者に提供しません。提供先・提供情報内容を特定したうえで、ユーザーの同意を得た場合に限り提供します。
</div> 

<div class="pp-title">
プライバシーポリシーの変更
</div>
<div class="pp-sentence">
当アプリは、法令等の定めがある場合を除き、プライバシーポリシーを随時変更することができるものとします。
</div> 

<div class="pp-black">
</div>