<body class="image-layout">
  <section class="hero login-hero-size" >
    <div class="container">
      <div class="content has-text-centered">
        <div class="signup-title">
          <strong class="new-title">管理者ユーザー新規登録</strong>
        </div>
      </div>
    </div>
  </section>
</body>
