<h1 class="list-title">予約情報一覧</h1>

<% @reservations.each do |reservation| %>
  <% if reservation.present? %>
    <% if current_user.present? %>
      <% if (reservation.facility_id == @facility.id) && (current_user.name == reservation.reservation_user) && (reservation.reservation_date >= Date.today) %>
        <div class="reservation-list">
          <p class="today-color"><%= "面会当日" if Date.current == reservation.reservation_date %></p>
          <span>予約情報 |</span>
          <%= link_to "#{l(reservation.reservation_date, format: :long)}#{l(reservation.started_at, format: :time)}~", facility_reservation_path(@facility, reservation), style:"color: #401c00;" %>
        </div>
      <% end %>
    <% elsif current_facility.present? %>
      <% if (reservation.facility_id == @facility.id) && (reservation.reservation_date >= Date.today) %>
        <div class="reservation-list">
          <p class="today-color"><%= "面会当日" if Date.current == reservation.reservation_date %></p>
          <%= link_to "#{reservation.reservation_user} / #{l(reservation.reservation_date, format: :base)}#{l(reservation.started_at, format: :time)}~", facility_reservation_path(@facility, reservation, user: reservation.user_id), style:"color: #401c00;" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
