$(".tag-link-<%= @tag.id%>").remove();

$("select.select-tag option[value='<%= @tag.id%>']").remove();

$("#added-message").html("<div class='notification is-danger has-text-weight-bold' id='is-alert'><p class='notice'><%= alert %></p></div>").hide().fadeIn(800);

$(function(){
  setTimeout("$('#added-message').fadeOut(1200)", 4000)
})
