<div class="modal" id="edit">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" style="background-color: #48D1CC;">
      <p class="modal-card-title is-half has-text-weight-bold reserve-modal is-size-3">お知らせ編集</p>
      <button class="delete" aria-label="close" id="close"></button>
    </header>
    <section class="modal-card-body">
      <%= form_with(model: information, url: "#", method: :patch, local: true) do |f| %>
      <div class="form-group col-sm-5">
        <div class="form-group col-sm-5">
          <%= f.text_field :title, class: "fa input is-link is-medium is-rounded is-focused" %><br><br>
          <%= f.text_area :news, class: "fa textarea is-link is-medium is-rounded is-focused" %>
        </div>
      </div><br>
      <div class="has-text-centered">
        <%= f.submit "\uf044 編集する",class:"fa button is-info is-medium is-rounded is-focused has-text-weight-semibold" %>&emsp;
        <button type="button" class="button is-black is-outlined is-medium is-rounded has-text-weight-semibold" aria-label="close" id="close">
          キャンセル
        </button>
      </div>
      <% end %>
    </section>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#edit").on("click", function() {
      $("div#edit").addClass("is-active");
    })

    $("#close, div.modal-background").on("click", function() {
      $("div#edit").removeClass("is-active");
    })
  });
</script>
