<h1 class="">新規お知らせ投稿モーダル</h1>
<%= form_with(model: @information, url: informations_path, method: :post, local: true) do |f| %>
	<div class="">
		<div class="form-group col-sm-5">
			<% @information.errors.full_messages.each do |message| %>
        <div class="form-error"><%= message %></div>
			<% end %>

			<%= f.text_field :news, class: "textarea" %>
			<%= f.submit "投稿" ,class:"button is-info is-outlined" %>
		</div>
	</div>
<% end %>
