<div class="show-info-container">
  <hr>
  <h1 class="show-info-title"><%= @information.title %></h1>
  <hr>
  <div>
    <span class="show-info-sp"><i class="fa fa-calendar-alt"></i> <%= l( @information.created_at, format: :dot) %></span><br>
    <p class="show-info-p"><%=safe_join(@information.news.split("\n"),tag(:br))%></p>
    <hr>
  </div>
  <%= link_to top_notice_facility_informations_path(current_user), class:"button is-success is-outlined" do %>
    <i class="fas fa-arrow-left"></i>　戻る
  <% end %>
</div>
