<div style="margin: 80px;">
  <hr>
  <h1 class="show-info-title"><%= @information.title %></h1>
  <hr>
  <div>
    <span style="color:#7a7a7a;"><i class="fa fa-calendar-alt"></i> <%= l( @information.created_at, format: :dot) %></span><br>
    <p style="font-size: 18px; margin-top: 15px;"><%=safe_join(@information.news.split("\n"),tag(:br))%></p>
    <hr>
  </div>
  <%= link_to top_notice_informations_path, class:"button is-success is-outlined" do %>
    <i class="fas fa-arrow-left"></i>　戻る
  <% end %>
</div>
