<h1>お知らせ</h1>

<h1>当システムでできること</h1>
<%= @info_top.title %><br>
<%= @info_top.news %>

<h1>ホームからのお知らせ</h1>
<% @informations.last(3).each do |information| %>
  <%= information.title %>
  <%= information.news %><br>
<% end %>
