<%= form_with url: residents_path(current_facility), multipart: true do %>
  <div style="display:flex;">
    <div id="file-js-example" class="file is-small has-name is-primary has-text-weight-bold">
      <label class="file-label" style="margin: 10px;">
        <input class="file-input" type="file" name="file">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-file-alt"></i>
          </span>
          <span class="file-label">
            ファイルを選択...
          </span>
        </span>
        <span class="file-name">
          アップロードされたファイル...
        </span>
      </label>
    </div>
    <div class="head-button"><button type="submit" class="button is-primary is-size-5 has-text-weight-bold is-rounded" id=""><i class="fas fa-upload"></i></button></div>
  </div>
<% end %>

<script>
  const fileInput = document.querySelector('#file-js-example input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-js-example .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>
