<header class="modal-card-head modal-title-back">
  <p class="modal-card-title is-half has-text-weight-bold reserve-modal is-size-3 title-color">画像データ詳細</p>
  <button class="delete" aria-label="close" id="close"></button>
</header>