<nav class="panel" id="memory-panel-style">
  <div class="notification-container notice-pad">
    <div class="content has-text-centered">
      <div class="columns is-centered">
        <div class="column is-12 is-centered max-width">
          <h1 class="memory-title">思い出アルバムの編集ができます。</h1>
          <small class="is-pulled-right">
            現在時刻&nbsp;<span id="app"><%= l(Date.current) %>&nbsp;<clock></clock></span>
          </small>
          <h1 class="memory-title-mini">思い出アルバムの画像選定/編集</h1>
          <p class="has-text-left">ここから思い出アルバムに使用する画像を最大８枚まで選定/編集できます。</p>
          <%= render 'edit-card' %>
        </div>
      </div>
    </div>
  </div>
</nav>
<%= render 'clock' %>
