/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 *= require dropzone/dropzone
 */
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "bulma";

//下タブ（タブレット、モバイル）
@media screen and (max-width: 1000px) {
  #vertical_tab_nav {
    z-index: 20;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: black;
  }

  #vertical_tab_nav ul {
    display: flex;
    font-weight: bold;
  }

  #vertical_tab_nav li {
    flex: 1;
    margin-top: 0;
  }

  #vertical_tab_nav li a {
    display: block;
    height: 80px;
    padding-top: 25px;
  }

  #vertical_tab_nav li a:hover {
    background: #EFEFEF;
    color: black;
  }

  #vertical_tab_nav li:first-child {
    display: none;
  }

  footer {
    margin-bottom: 80px;
  }

  .footer-layout {
    height: 180px;
  }
}
