//エラーメッセージ（フルメッセージ用）
.errors_full_messages {
  margin: 0 0 20px 0;
  padding: 15px;
}

//共通フラッシュメッセージ
.error-position {
  margin-top: 94px;
  margin-bottom: 20px;
  padding: 15px;
}

//ヘッダー下
#layout-space {
  margin-top: 74px;
  text-align: center;
}

.notification {
  position: fixed!important;
  left: 15%;
  top: 88px;
  width: 70%;
  z-index: 100;
  border-radius: 10px!important;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  background-color: none;
  color: white;
}

div.notification.is-alert.error-count {
  margin-bottom: 0;
}

//施設・家族ユーザー共通

//入力フィールド
.field {
  color: #2e2f30;
  font-size: 20px;
  font-weight: bold;
}

.label {
  font-size: 20px !important;
}

.account-link {
  color: #f7f7f7;
}

.new-account-btn {
  color: #f7f7f7;
}

input.button.is-success.is-medium.is-fullwidth.has-text-weight-bold.new-btn {
  border-color: green;
  margin-top: 10px;
}

.google-login {
  position: relative;
  margin-top: -80px;
  margin-bottom: 50px;
}

.line-login {
  position: relative;
  padding-top: 20px;
}

.line-login-sentence {
  margin-top: -40px;
}

.user-side {
  padding-bottom: 50px;
  padding-right: 20px;
}

.facility-side {
  margin-top: -80px;
  padding-bottom: 50px;
  width: 100%;
}

.notification-container{
  font-size: 18px;
}

//タブレット
@media screen and (max-width: 1000px) {

  //エラーメッセージ
  .notification {
    padding: 1.25rem 1.5rem!important;
    margin-right: auto;
    margin-left: auto;
  }
}

//モバイル
@media screen and (max-width: 500px) {

  //エラーメッセージ
  .notification {
    padding: 0.5rem 1.5rem!important;
    font-size: 15px;
    padding: 5px;
    top: 70px;
    left: 7%;
    width: 86%;

    p{
      font-size: 11px;
    }
  }

  //ヘッダー下
  #layout-space {
    margin-top: 52px;
  }
}
