//共通フラッシュメッセージ
.error-position {
  margin-top: 94px;
  margin-bottom: 20px;
  padding: 15px;
}

//エラーメッセージ（フルメッセージ用）
.errors_full_messages {
  margin: 0 0 20px 0;
  padding: 15px;
}

div.notification.is-danger.error-count {
  margin-bottom: 0;
}

.notification {
  width: 100%;
  font-size: 20px;
}

//施設・家族ユーザー共通

//入力フィールド
.field {
  color: #2e2f30;
  font-size: 20px;
  font-weight: bold;
}

.label {
  font-size: 20px !important;
}

.account-link {
  color: #f7f7f7;
}

.new-account-btn {
  color: #f7f7f7;
}

input.button.is-success.is-medium.is-fullwidth.has-text-weight-bold.new-btn {
  border-color: green;
  margin-top: 10px;
}

.google-login {
  position: relative;
  margin-top: -80px;
  margin-bottom: 50px;
}

.line-login {
  position: relative;
  padding-top: 20px;
}

.line-login-sentence {
  margin-top: -40px;
}

.user-side {
  padding-bottom: 50px;
  padding-right: 20px;
}

.facility-side {
  margin-top: -80px;
  padding-bottom: 50px;
  width: 100%;
}

//タブレット
@media screen and (max-width: 1000px) {

  //エラーメッセージ
  .notification {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

//モバイル
@media screen and (max-width: 500px) {

  //エラーメッセージ
  .notification {
    width: 80%;
    font-size: 15px;
  }
}
