// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.delete-message {
  font-size: 20px;
  color: #2e2f30;
  text-align: center;
}

input.button.is-danger.is-medium.is-fullwidth.new-btn.has-text-weight-bold {
  margin-top: 10px;
}

/* 利用施設登録 */
.card-style {
  width: 345px;
  display: inline-block;
  text-align: center;
  margin: 20px 20px;
  border-radius: 1%;
}

.search-img {
  // S3のオブジェクトURLで表示
  background-image: url(https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/remember.jpg);
  height: 400px;
  margin: 0 calc(50% - 50vw);
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.search-input {
  width: 600px;
}

.search-btn {
  text-shadow:
    1px 1px 1px #003366,
    -1px 1px 1px #003366,
    1px -1px 1px #003366,
    -1px -1px 1px #003366,
    1px 0px 1px #003366,
    0px 1px 1px #003366,
    -1px 0px 1px #003366,
    0px -1px 1px #003366;
}

.btn-width {
  width: 40%;
  display: flex;
  margin-left: 90px;
}

// タブ機能
#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
  padding: 1rem;
  display: none;
}

#tabs-with-content .tab-content.is-active {
  display: block;
}

.tag-position {
  margin-top: 3px;
  float: right;
}

#under-pagination {
  margin-top: 50px;
  margin-bottom: 150px;
}

.card-position {
  margin-top: 30px;
}

#submit-btn{
  pointer-events: none;
}

/* facilities-usedページのcollection_checkboxを非表示にする */
.facilities-used-label{
  input[type="checkbox"], input[type="radio"] {
    vertical-align: baseline;
    display: none;
  }
}

.facilities-used-label span {
  color: #333; /* 文字色を黒に */
  font-size: 14px; /* 文字サイズを14pxに */
  border: 1px solid #333; /* 淵の線を指定 */
  border-radius: 20px; /* 角丸を入れて、左右が丸いボタンにする */
  padding: 5px 20px; /* 上下左右に余白をトル */
}

.facilities-used-label input:checked + span {
  color: #FFF; /* 文字色を白に */
  background: #f07700; /* 背景色を薄いオレンジに */
  border: 1px solid #ff9124; /* 淵の線を薄いオレンジに */
}

.current_tag {
  float: left;
  margin-top: 550px;
}

#panel-search {
  padding: 20px;
}

p.title.is-6.result {
  margin: 100px;
  color: brown;
}

a.btn-gradient {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
  background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

a.btn-gradient:hover {
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  color: #fff;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}

.search-title {
  font-size: 40px;
  margin-right: 100px;
  color: white;
}

.modal-description {
  font-size: 18px;
  padding: 20px;
}

.modal-sub-description {
  font-size: 14px;
  margin-bottom: 14px;
}

.span-check {
  color: #FF4F02;
}

input.fa.button.is-medium.is-focused.has-text-weight-semibold.orange-btn {
  background: orange;
  color: #401c00;
}

.under-line {
  border-bottom: 1px solid;
  color: #401c00;
}

div.under-line {
  border-bottom: 1px solid;
  color: #401c00;
}

.card-radius {
  border-radius: 1% 1% 0 0;
}

#here {
  font-size: 6px;
  color: #401c00;
  border: 1px solid #401c00;
  border-radius: 3px;
  background: cornsilk;
  margin-bottom: 7px;
}

// カード全体どこからでもモーダル表示できるように見えないBOX設置
.hidden {
  position: absolute;
  right: 0px;
  left: 0;
  top: 0;
  height: 100%;
}

.cancel-btn {
  position: absolute;
  right: 0px;
  left: 0;
  top: 0;
  height: 100%;
  float: right;
  margin: 10px;
}

.title-in-modal {
  border-bottom: 1px solid;
  padding: 3px;
  margin-bottom: 7px;
}

.card-position {
  margin-top: 30px;
}

//facility_home
.facility-home-image {
  width: auto;
  height: auto;
}

.inline-block_home {
  display: inline-block;
  vertical-align: bottom;
  height: 267px;
  width: 420px;
  margin-right: 20px;
  margin-top: 70px;
}

//権限変更（一般）
.general-change {
  margin-top: 50px;
  border: 1px solid transparent;
  outline: none;
  background: linear-gradient(25deg,#2bc0e4, #eaecc6);
  color: #fff;
  border-radius: 40px;
  padding: 15px 30px;
  overflow: hidden;
  width: 200px;
  transition: 
    all        1.2s,
    border     0.5s 1.2s,
    box-shadow 0.3s 1.5s;
  white-space: nowrap;
  text-indent: 23px;
  font-weight: bold;
  span {
    display: inline-block;
    font-size: 25px;
    transform: translateX(300px);
    font-weight: normal;
    opacity: 0;
    transition: 
      opacity 0.1s 0.5s,
      transform 0.4s 0.5s;
  }
  i {
    display: inline-block;
    font-size: 40px;
  }
  &:hover {
    text-indent: 0;
    background: linear-gradient(25deg, #F13F79, #FFC778);
    color: #fff;
    width: 250px;
    border: 5px solid #FA8072;
    box-shadow: 3px 3px 2px rgba(black, 0.15);
    span {
      transform: translateX(0);
      opacity: 1;
    }
    #users {
      display: none;
    }
  }
}

//権限変更（管理者）
.admin-change {
  margin-top: 50px;
  border: 1px solid transparent;
  outline: none;
  background: linear-gradient(25deg, #F13F79, #FFC778);
  color: #fff;
  border-radius: 40px;
  padding: 15px 30px;
  overflow: hidden;
  width: 200px;
  transition: 
    all        1.2s,
    border     0.5s 1.2s,
    box-shadow 0.3s 1.5s;
  white-space: nowrap;
  text-indent: 23px;
  font-weight: bold;
  span {
    display: inline-block;
    font-size: 25px;
    transform: translateX(300px);
    font-weight: normal;
    opacity: 0;
    transition: 
      opacity 0.1s 0.5s,
      transform 0.4s 0.5s;
  }
  i {
    display: inline-block;
    font-size: 40px;
  }
  &:hover {
    text-indent: 0;
    background: linear-gradient(25deg,#2bc0e4, #eaecc6);
    color: #fff;
    width: 250px;
    border: 5px solid #B0E0E6;
    box-shadow: 3px 3px 2px rgba(black, 0.15);
    span {
      transform: translateX(0);
      opacity: 1;
    }
    #admin {
      display: none;
    }
  }
}

//calendar
#calendar-reservations {
  margin: 50px 30px;
  padding-bottom: 30px;
}

#calendar-info .calendar-th {
  background: #87CEEB;
}

.simple-calendar .wday-6 {
  color: blue;
}

.simple-calendar .wday-0 {
  color: red;
}

#new-family-table {
  margin-top: 50px;
  padding-bottom: 30px;
}

#new-family-table th {
  background-color: #FFDAB9;
  font-size: 20px;
  text-align: center;
}

#new-family-table td {
  text-align: center;
}

//タブ（利用者）
.tab-resident {
  display: inline-block;
  vertical-align: middle;
  margin: 100px 70px;
}

//タブ（利用者）ボタン
.btn-tab-resident {
  display: inline-block;
  width: 200px;
  text-align: center;
  background-color: #7596E0;
  border: 2px solid #7596E0;
  font-size: 20px;
  color: #7596E0;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  position: relative;
}

.btn-tab-resident span {
  position: relative;
  z-index: 1;
}

.btn-tab-resident::before,
.btn-tab-resident::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}

.btn-tab-resident::before {
  left: 0;
}

.btn-tab-resident::after {
  right: 0;
}

.btn-tab-resident:hover:before,
.btn-tab-resident:hover:after {
  width: 0;
  background-color: #FFF;
}

.btn-tab-resident:hover {
  color: #FFF;
}

//タブ（ユーザー）ボタン
.btn-tab-user {
  display: inline-block;
  width: 200px;
  text-align: center;
  background-color: #00d1b2;
  border: 2px solid #00d1b2;
  font-size: 20px;
  color: #00d1b2;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  position: relative;
}

.btn-tab-user span {
  position: relative;
  z-index: 1;
}

.btn-tab-user::before,
.btn-tab-user::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}

.btn-tab-user::before {
  left: 0;
}

.btn-tab-user::after {
  right: 0;
}

.btn-tab-user:hover:before,
.btn-tab-user:hover:after {
  width: 0;
  background-color: #FFF;
}

.btn-tab-user:hover {
  color: #FFF;
}

.facility-photo {
  width: 100%;
  margin-top: 40px;
}

.image_input_btn {
  position: absolute;
  background: powderblue;;
  width: 120px;
  height: 30px;
  margin: 420px 0 0 134px;
  border-radius: 5px;
  padding: 1px;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.image_input_comment {
  position: absolute;
  text-align: center;
  margin-top: 120px;
  border-radius: 5px;
  padding: 1px;
  color: #DEDEDE;
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
}

.image_input_comment_user {
  position: absolute;
  text-align: center;
  margin-top: 120px;
  border-radius: 5px;
  padding: 1px;
  color: #DEDEDE;
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
}

.image_uploading {
  display: flex;
  float: left;
  padding: 10px 0 0 10px;
}

input#facility_image {
  color: #ccc;
  height: 250px;
  width: 98%;
  margin: 20px 0 20px 0;
  border-style: dashed;
  border-width: 2px;
  text-align: center;
  cursor: pointer;
}

input#facility_icon.image_uploading_icon {
  color: #ccc;
  height: 250px;
  width: 100%;
  margin: 20px 0 0 0;
  border-style: dashed;
  border-width: 2px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}

///タブ（お知らせ）
.tab-information  {
  display: inline-block;
  vertical-align: middle;
  margin: 100px 70px;
}

//タブ（お知らせ）ボタン
.btn-tab-information {
  display: inline-block;
  width: 230px;
  text-align: center;
  background-color: #f3a150;
  border: 2px solid #f3a150;
  font-size: 20px;
  color: #f3a150;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  position: relative;
}

.btn-tab-information span {
  position: relative;
  z-index: 1;
}

.btn-tab-information::before,
.btn-tab-information::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}

.btn-tab-information::before {
  left: 0;
}

.btn-tab-information::after {
  right: 0;
}

.btn-tab-information:hover:before,
.btn-tab-information:hover:after {
  width: 0;
  background-color: #FFF;
}

.btn-tab-information:hover {
  color: #FFF;
}

//ユーザールートの施設ホーム画面のメニュー画像
#home-images {
  overflow:hidden;
  background: #000;
}

#home-images img {
  opacity: .7;
  transition:1s all;
}

#home-images img:hover {
  transform:scale(1.2,1.2);
  transition:1s all;
}

#home-images p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-weight: bold;
  font-size: 23px;
  color: #fff;
  white-space: nowrap;
}

//施設ホーム画面のユーザーアイコン
.facility-user-image {
  width: 80px;
  border-radius: 50%;
}

//登録申請
#request-user {
  overflow:hidden;
  background: black;
  border-bottom-right-radius: 30%;
}

#request-user img {
  opacity: .9;
  transition:1s all;
  border-bottom-right-radius: 30%;
}

#request-user img:hover {
  transform:scale(1.2,1.2);
  transition:1s all;
}

#request-user p {
  position: absolute;
  top: 57%;
  left: 38%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-weight: bold;
  font-size: 23px;
  color: #fff;
  white-space: nowrap;
}

//初めての登録申請ボタン
.btn-shine {
  color: #FFF;
  display: inline-block;
  font-weight: lighter;
  font-size: 25px;
  line-height: 60px;
  width: 350px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid transparent;
  outline: 4px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}

.btn-shine:hover {
  color: #fff;
  border-color: #FFF;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: transparent;
  outline-offset: 12px;
  text-shadow: 2px 2px 3px #000;
}

//利用者登録申請のコメント
.content-request {
  line-height: 30px;
}

//登録申請のレイアウト
#layout-comment {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

//登録申請中のボタン
#disabled-btn {
  pointer-events: none;
}

#input-field {
  width: 80% !important;
  margin-left: 50px;
}

#btn-field {
  width: 80% !important;
  margin-left: 40px;
  margin-top: 50px;
}

#btn-delete-field {
  width: 80% !important;
}

//イメージ画像のチェックボックス
input#img_delete[type="checkbox"] {
  display: none;
}

input#img_delete[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  color: #333;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input#img_delete[type="checkbox"] + label.check_position:last-child { margin-bottom: 0;
}

input#img_delete[type="checkbox"] + label.check_position:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #0d47a1;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input#img_delete[type="checkbox"]:checked + label.check_position:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

//アイコンのチェックボックス
input#icon_delete[type="checkbox"] {
  display: none;
}

input#icon_delete[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  color: #333;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input#icon_delete[type="checkbox"] + label.check_position:last-child { margin-bottom: 0;
}

input#icon_delete[type="checkbox"] + label.check_position:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #0d47a1;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input#icon_delete[type="checkbox"]:checked + label.check_position:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.img_update {
  margin-top: 350px;
}

#img_delete {
  font-weight: bold;
}

.img_confirm {
  padding-top: 20px;
}

#img_lavel {
  float: left;
  padding-bottom: 14px;;
}

.index-img-center {
  display: flex;
  align-items: center;
}

.icon_circle {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  object-position: 0 0;
  border: solid 1px #EEEEEE;
}

img#icon_prev.icon_circle {
  margin-bottom: 25px;
}

.account-delete-btn {
  text-align: center;
  color: #666666;
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
  float: right;
  margin-bottom: 150px;
}

.account-delete-btn:hover {
  color: #cc0f35;
}

.delete_confirm {
  float: right;
  //margin-right: -200px;
  padding-top: 65px;
}

#panel-style {
  padding: 50px;
  margin: 100px 50px 50px 50px;
  background: #F5F5F5;
}

.account-title {
  font-weight: 700;
  padding-bottom: 5px;
  margin-bottom: 20px;
  text-align: left;
}

.mini-title {
  font-weight: 700;
  border-bottom: 1px solid #C0C0C0;
  padding-bottom: 5px;
  margin-bottom: 20px;
  text-align: left;
}

h1.mini-title {
  padding-top: 50px;
}

.position-control {
  visibility:hidden;
}

.title-description {
  text-align: left;
}

