// Place all the styles related to the facilitys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the facilitys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.facility-head-button{
  display: flex;
  justify-content: flex-end;
}
.head-button{
  margin-right: 30px;
}
.facility-title{
  text-align: center;
  font-weight: bold;
  font-size: 33px;
  margin-top: 50px;
}

/* テーブル内の位置調整と装飾 */
#table-facilities {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
  thead th{/*table内のヘッダーに対して*/
    color: white;
  }
  thead tr{
    background-color: rgb( 117, 150, 224 )
  }
  .tr-head {/*table内の「トップお知らせ」「お知らせ」に対して*/
      background-color: rgb( 188, 214, 226 )
    }
  .text-color{
    color:white;
  }
}
