// Place all the styles related to the informations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index.html.erb
.panel {
  margin: 20px;
}

#panel-info {
  margin-top: 25px;
  min-height: 70vh;
  background: #F5F5F5;
}

.panel-tabs a {
  border-bottom: 1px solid #dbdbdb;
  margin: 0 30px 10px 10px;
  padding: 0.5em;
  font-size: 18px;
  font-weight: bold;
  color: #afaaaa;
}

.panel-tabs a.infomation-tab.is-active {
  color: #48c774;
  border-bottom-width: medium;
}

.info-menu {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}

.level-info {
  align-items: center;
  justify-content: space-between;
  margin: 0px 30px 50px 30px;
}

.new-info {
  width: 90px;
  margin-left: 20px;
}

#info-container {
  padding-bottom: 50px;
}

.info-section {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  margin-bottom: 30px;
}

#info-card {
  width:300px;
  margin: 20px;

  .info-photo-size {
    width: 332px;
    height: 210px;
    object-fit: cover;
  }

}

#info-content {
  height:180px;
}

// show.html.erb
.show-info-container {
  margin: 80px;
}

.show-info-p {
  font-size: 18px;
  margin-top: 15px;
  text-align: justify;
}

.show-info-sp {
  color:#7a7a7a;
}

.info-section {
  .card-content {
    background-color: transparent;
    padding: 10px 20px;
  }
  .card-footer {
    height: 70px;
    margin-bottom: 0px;
  }
  .card-footer-item {
    height: 70px;
  }
}

.info-image-layout {
  margin-top: 40px;
  position: relative;
}

input#information_image.image_uploading {
  color: #ccc;
  height: 240px;
  width: 100%;
  margin: 20px 0 20px 0;
  border-style: dashed;
  border-width: 2px;
  line-height: 200px;
  text-align: center;
  cursor: pointer;
}

.info-image-back {
  display: none;
}

.info-btn {
  text-align: center;
  border-radius: 5px;
  border: 2px solid #13b1c0;
  color: #13b1c0;
  text-decoration: none;
  padding: 9px 25px;
  background: #fff;
  cursor: pointer;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 40px;
}

.info-btn:hover {
  background: #51afbe;
  color: #fff;
}

.label-space {
  margin-top: 40px;
}

.media-width {
  width: 95%;
}

.drop-zone-area-info {
  width: 70%;
  margin: 20px auto;
}

.info-sub-title {
  margin-top: 200px;

  p {
    font-size: 20px;
    font-weight: 700;
    color: #401c00;
    padding-top: 50px;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-align: left;
  }
}

.info-sub2-title {
  p {
    font-size: 20px;
    font-weight: 700;
    color: #401c00;
    padding-top: 50px;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-align: left;
  }
}

#info-title {
  margin-bottom: 28px;
}

.level-left {
  padding-top: 30px;
}

.level-right {
  padding-top: 30px;
}

#info-layout {
  display: none;
}

//タブレット
@media screen and (max-width: 1200px) {

  //タグ
  .panel-tabs a.infomation-tab {
    font-size: 2px;
  }

  .panel-tabs a.infomation-tab i {
    font-size: 30px;
    display: block;
    text-align: center;
    margin-bottom: 3px;
  }

  //画像選択アイコン
  .fa.image_input_comment {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1024px) {

  .info-sub-title {
    margin-top: 280px;
  }
}

@media screen and (max-width: 1000px) {

  //タグ（お知らせ一覧）
  #panel-info {
    margin-top: 20px;
  }

  .level-right {
    padding-top: 0px;
  }

  //panel調整
  #info-layout {
    display: block;
  }

  .info-sub-title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .label-space {
    width: 80%;
    margin: 0px auto;
  }

  .info-sub2-title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

//モバイル
@media screen and (max-width: 500px) {

  .panel-tabs a {
    margin: 0px 10px;
  }

  //検索フォーム
  .info-menu {
    display: block;
  }

  .level-info {
    margin: 20px 2px 30px 0px;
  }

  //お知らせ新規作成ボタン
  .new-info {
    margin-left: 35%;
    margin-top: 20px;
  }

  //お知らせ新規作成・編集画面
  #panel-style {
    margin: 10px;
  }

  .info-image-back {
    position: absolute;
    display: block;
    height: 27px;
    width: 27px;
    object-fit: cover;
    top: 80%;
    right: 10%;
    z-index: 3;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
  }

  .info-image-camera i {
    position: absolute;
      display: block;
      color: #fff;
      height: 27px;
      width: 27px;
      object-fit: cover;
      top: 17%;
      right: 0%;
      z-index: 4;
  }

  //画像選択アイコン
  .fa.image_input_comment {
    display: none;
  }

  //ファイル選択位置
  input#information_image.image_uploading {
    line-height: 200px;
  }

  .drop-zone-area-info {
    display: none;
  }

  .info-sub-title {
    margin-top: 0px;
  }

  #notification-mobile {
    padding: 1.25rem 0.5rem 1.25rem 0.5rem;
  }

  //更新ボタン
  .info-btn {
    margin-top: 40px;
  }

  //システムからのお知らせレイアウト
  .show-info-container {
    margin: 60px;
  }
}
