// Place all the styles related to the informations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel{
  margin: 20px;
}
.panel-tabs a {
  border-bottom: 1px solid #dbdbdb;
  margin: 0px 30px 30px 30px;
  padding: 0.5em;
  font-size: 25px;
  font-weight: bold;
  color: #afaaaa;
  // font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif !important;
}
.level-info {
  align-items: center;
  justify-content: space-between;
  margin: 0px 30px 50px 30px;
}
.new-info{
  width: 90px;
  margin-left: 20px;
}
