// Place all the styles related to the inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inquiry-btn {
  margin-top: 30px;
  margin-bottom: 50px;
}

.inquiry-notice {
  margin: 50px 0;
  background-color: #fcf8e3;
  border: solid 1px #faebcc;
  border-radius: 4px;
  padding: 15px;
}

.inquiry-title {
  margin-top: 100px;
  margin-bottom: 30px;
}

span.inquiry-coment {
  margin-top: 30px;
}

.inquiry-submit-btn {
  width: 300px;
}

.inquiry-label {
  margin-top: 30px;
  margin-bottom: 20px;
}

.inquiry-label-block {
  display: inline-block;
}

.inquiry-label-require {
  display: inline-block;
  color: red;
  font-size: 18px;
}

.index-inquiry-title {
  background-color: rgb(235, 173, 39);
}

.inquiry-table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  margin-top: 50px;
}

.inquiry-tr {
  background-color: #FFFF99;
}

.inquiry-th {
  min-width: 120px;
}

.inquiry-th2 {
  width: 130px;
  white-space: normal;
}

textarea#inquiry_message.textarea {
  font-size: 20px;
}