//思い出indexページ
#hero-memory {
  position: relative;
  background: #efefef;
}

.glovalNavigation {
  font-weight: 700;
  padding-bottom: 5px;
  text-align: left;
  border-bottom: 1px solid;
  color: #401c00;
  margin: 100px 5% 0 5%;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.main-index {
  min-height: 110vh;

  #insert-photo {
    margin: 10px 100px 0 0;
  }

  .content {
    text-align: center;
    margin: 20px 10px 0 0;
    padding-top: 50px;

    .all-render {
      padding-top: 50px;
    }

    .event-render {
      padding-top: 0;
    }

    .modal-title-back {
      background-color: #e3dcca;
      padding-right: 30px;

      .title-color {
        color: #401c00; margin: 5px;
      }
    }

    .image-position {
      padding-bottom: 12px;

      .modal-input {
        display: none;
      }
    }

    .content-back {
      border-top: 1px solid #dbdbdb;
      background: #f7f3e8;

      .word-break {
        word-break: break-all;
        padding-left: 50px;
      }

      .span-title {
        color: #401c00;
        padding-right: 15px;
      }
    }

    .footer-position {
      padding-left: 60px;

      .delete-btn {
        color: #dc628b;
        background: #ff000030;
        border-color: #cc9ba4;
      }

      .drop-zone {
        border-style: dashed;
        color: #ccc;
        padding: 20px 30px 20px 10px;
        margin-left: 40px;
      }

      .img-update-btn {
        margin-left: 15px;
        border-radius: 5px;
        border: 2px solid #13b1c0;
        color: #13b1c0;
        text-decoration: none;
        padding: 9px 25px;
        background: #fff;
        cursor: pointer;
        font-weight: 700;
      }
    }
  }

  .img-interval {
    margin: 5px;
  }

  .index-photo-size {
    width: 350px;
    height: 250px;
    object-fit: cover;
    cursor: pointer
  }

  .card-photo-size {
    width: 350px;
    height: 200px;
    object-fit: cover;
  }

  .card-inline-block {
    display: inline-block;
  }

  a.folder {
    color: burlywood;
  }
}

.bottom-control {
  margin-bottom: 30px;
}

//indexカードのデザイン
.photo-card {
  margin: 50px 50px 20px 50px;
  width: 310px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.photo-card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}

.photo-card-content {
  padding: 20px;
}

.photo-card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.photo-card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-all;
}

.photo-card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}

.photo-card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}

.photo-card-link a:hover {
  color: #0090aa;
}

// レスポンシブindex
@media screen and (max-width: 750px) {
  .glovalNavigation {
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    color: #401c00;
    margin: 100px 5% 0 5%;
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  .main-index {
    min-height: 100vh;

    .content {
      text-align: center;
      margin: 0 auto;
    }

    .img-interval {
      margin: 5px;
    }

    a.folder {
      color: burlywood;
    }

    .photo-card {
      margin: 50px 50px 20px 13px;
      width: 320px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px #ccc;
    }

    .tab-font {
      font-size: 20px;
    }

    //モーダルデザイン
    .img-interval {
      margin: 0 auto;
    }

    .modal-width {
      width: 90%;

      .image-position {
        .modal-input {
          display: block;
        }
      }

      .footer-position {
        .drop-zone {
          display: none;
        }
      }

      .content-back {
        .word-break {
          word-break: break-all;
          padding-left: 0;
        }
      }

      .res-footer {
        padding: 40px 10px 40px 55px;
      }
    }
  }

  .photo-scroll {
    width: 100%;
    min-height: 110vh;
    overflow: scroll;
    margin-bottom: 30px;
  }

  .card-controller {
    margin-left: 140px;
  }

  .card-float {
    float: left;
  }
}

//思い出showページ
.main-show {
  min-height: 50vh;

  .show-bottom-control {
    margin-bottom: 50px;
  }

  .content {
    text-align: center;
    margin: 20px 10px 0 0;
    padding: 15px;

    .show-photo-size {
      width: 350px;
      height: 250px;
      object-fit: cover;
    }
  }

  .show-bottom-control {
    margin-bottom: 50px;
  }

  .img-interval {
    margin-top: 20px;
  }

  .otherNavigation {
    font-weight: 200;
    padding-bottom: 5px;
    text-align: left;
    border-bottom: 1px solid;
    color: #401c00;
    margin: 30px 5% 0 5%;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
}

//showメッセージ部分
.photo-card-img-show {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}

.photo-card-content-show {
  padding: 20px;
}

.photo-card-title-show {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.photo-card-text-show {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}

.photo-card-link-show {
  text-align: center;
  border-top: 1px solid #eee;
  padding-top: 30px;

  .title-brown {
    color: #401c00;
  }

  .message-title {
    word-break: break-all;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
  }

  .memories-index-btn {
    margin-top: 20px;
  }

  a.folder {
    color: burlywood;
  }

  .edit-btn {
    border: solid 1px #92ad92 !important;
  }

  .delete-btn {
    border: solid 1px #d08d9a !important;
  }

  .index-btn {
    border: solid 1px #9d9dbd !important;
  }
}

.photo-card-link-show a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}

.photo-card-link-show a:hover {
  color: #0090aa;
}

// レスポンシブshow
@media screen and (max-width: 1024px) {
  //思い出showページ
  .main-show {
    min-height: 110vh;

    .content {
      text-align: center;
      margin: 0;
      padding: 15px;
    }

    .show-bottom-control {
      margin-bottom: 50px;
    }

    .img-interval {
      margin-top: 10px;
    }
  }

  .photo-card-img-show {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    height: auto;
  }

  .photo-card-content-show {
    padding: 20px;
  }

  .photo-card-title-show {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }

  .photo-card-text-show {
    color: #777;
    font-size: 14px;
    line-height: 1.5;
  }

  .photo-card-link-show {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 20px;
  }

  .photo-card-link-show a {
    text-decoration: none;
    color: #0bd;
    margin: 0 10px;
  }

  .photo-card-link-show a:hover {
    color: #0090aa;
  }
}

//思い出newページ
#memory-panel-style {
  padding: 50px;
  margin: 100px 50px 50px 50px;
  background: #F5F5F5;
}

.panel {
  .top-btn-positions {
    margin-top: 420px;
  }

  .memory-title {
    font-weight: 700;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-align: left;
    color: #401c00;
  }

  .photo-size {
    width: 332px;
    height: 220px;
    object-fit: cover;
  }

  .memory-title-mini {
    font-weight: 700;
    border-bottom: 1px solid #C0C0C0;
    padding: 50px 0 5px 0;
    margin: 50px 0 20px 0;
    text-align: left;
    font-size: 20px;
    color: #401c00;
  }

  .mandatory {
    margin: 0 0 2px 30px;
  }

  .memory-label {
    padding: 20px 0 0 32px;
  }

  .message-input {
    height: 100px;
  }

  .message-btn {
    text-align: center;
    border-radius: 5px;
    border: 2px solid #13b1c0;
    color: #13b1c0;
    text-decoration: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-weight: 700;
    margin-top: 60px;
  }

  //カード
  .memory-card-position {
    margin: 5px 2.5px; display: inline-block;

    .card-drop-area {
      padding: 0 1px 3px 1px;

      .drop-area {
        padding: 20px;
        border-style: dashed;
        border-width: 2px;
        border-color: #ccc;
        cursor: pointer;
      }

      .drop-area-mandatory {
        padding: 20px;
        border-style: dashed;
        border-width: 2px;
        border-color: crimson;
        cursor: pointer;
      }

      .img-delete-label {
        margin-top: -2px;
      }

      //チェックボックスのデザイン
      @for $i from 0 through 7 {
        input#img#{$i}_delete[type="checkbox"] {
          display: none;
        }

        input#img#{$i}_delete[type="checkbox"] + label {
          display: block;
          position: relative;
          padding-left: 30px;
          margin: 0 0 4px 23px;
          color: #333;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
        }

        input#img#{$i}_delete[type="checkbox"] + label.check_position:last-child {
          margin-bottom: 0;
        }

        input#img#{$i}_delete[type="checkbox"] + label.check_position:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          border: 1px solid #0d47a1;
          position: absolute;
          left: 0;
          top: 0;
          opacity: .6;
          -webkit-transition: all .12s, border-color .08s;
          transition: all .12s, border-color .08s;
        }

        input#img#{$i}_delete[type="checkbox"]:checked + label.check_position:before {
          width: 10px;
          top: -5px;
          left: 5px;
          border-radius: 0;
          opacity: 1;
          border-top-color: transparent;
          border-left-color: transparent;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }
}

//思い出new・editページのレスポンシブ対応
@media screen and (max-width: 1024px) {
  #memory-panel-style {
    padding: 0;
    margin: 0;
  }

  .panel {
    .notice-pad {
      padding: 1.25rem 1.5rem 1.25rem 1.5rem;
    }

    .max-width {
      padding: 20px 10px 80px 10px;
    }

    .memory-title {
      font-size: 26px;
    }

    .mandatory {
      margin: 0 0 2px 10px;
    }
  }

  //カード
  .memory-card-position {
    .card-drop-area {

      .drop-area {
        padding: 10px 20px 20px 10px !important;
        border-style: none !important;
      }

      .drop-area-mandatory {
        padding: 10px 20px 20px 10px !important;
        border-style: none !important;
      }
    }
  }
}
