// Place all the styles related to the request_residents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.req-new-container{
  margin: 0px;
  padding-top: 30px;
  background-color: rgb(250,248,243);
  height: 100vh;
}

.req-new-section{
  width: 70%;
  margin: auto;
}

#new-hr{
    background-color: rgb(198,186,175);
    border: none;
    display: block;
    height: 1px;
    margin: 1rem 0;
}

#req-new-table {
  margin: auto;
  padding-top: 20px;
  width: 1000px;
  height: 400px;
  vertical-align: middle;
}

#req-new-table th{
  vertical-align: middle;
  text-align: center;
  background-color: rgb(250,248,242);
}

#req-new-table td {
  vertical-align: middle;
  height: 50px;
}

#req-index-table{
  margin: 20px 30px 20px 30px;
}
