// Place all the styles related to the request_mails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#preview-modal-head {
  background-color: #48D1CC;
}

.preview-container{
  width: 90%;
  margin: auto;

  .mail-content {
    padding: 20px 10px 5px 10px;
    font-size: 20px;
    color: gray;
    font-size: 15px;
  }

  .preview-p {
    border: solid 1px #dbdbdb;
    border-radius: 4px;
    padding: 10px;
  }

  .title-p{
    height: 50px;
    display: block;
  }

  .message-p{
    height: 600px;
    display: block;
  }

  .preview-submit{
    display: block;
    text-align: center;
    width: 55%;
    margin: 15px auto;
  }

  span{
    font-size: 13px;
    margin-left: 10px;
    font-weight: 300;
  }
}

.mail-modal-body {
  height: 75%;
  background-color: white;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 20px;
  border-radius: 0 0 6px 6px;border-radius: 0 0 6px 6px;
}

//タブレット
@media screen and (max-width: 1000px) {
  .preview-container {
    width: 75%;

    .preview-submit {
      margin: 21px auto 50px auto;
    }
  }
}
