// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reservations-calendar {
  height: 100%;
  margin: 100px;
  padding: 35px;
  font-size: 15px;
  color: #401c00;
  border-radius: 6px;
  flex: 2;

  .reservation-title {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid #401c00;
    margin: 0 0 20px 0;
  }

  #calendar-info .calendar-th {
    background: #E9D8AF;
  }

  p.modal-explanation {
    width: 100em;
    margin: 0 auto;
    font-size: 16px;
    color: #401c00;
  }

}

