// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page-back-color {
	background: linear-gradient(to bottom right, #ffffff, #f7f0e7);
}

// ユーザー予約ページでサイドリンク使用しない為の調整
#no-side-link {
	margin-left: 100px;
}

//indexページ
#reservations-calendar {
	height: 100vh;
	margin: 30px 0;
	padding: 35px;
	font-size: 15px;
	color: #401c00;
	border-radius: 6px;
	flex: 2;

	.reservation-title {
		font-size: 30px;
		font-weight: bold;
		padding: 20px;
		border-bottom: 1px solid #401c00;
		margin: 0 0 20px 0;
	}

	.holiday-color {
		color: red;
	}

	.possible-btn {
		font-weight: bold;
		font-size: 18px;
	}

	.impossible-btn {
		font-size: 18px;
		color: #3273dc;
	}

	.remaining {
		font-size: 1px;
		color: #2e2f30;
	}

	#calendar-info .calendar-th {
		background: #f7f3e8;
	}

	.modal-explanation {
		width: 400px;
		margin: 0 auto;
		font-size: 18px;
		font-weight: 300;
		color: #401c00;
	}

	.non-sign {
		display: none;
	}
}

// レスポンシブindexページ
@media screen and (max-width: 1024px) {
	#reservations-calendar {
		height: 100vh;
		margin: 100px;
		padding: 30px 10px 900px 10px;
		font-size: 15px;
		color: #401c00;
		border-radius: 6px;
		flex: 2;

		.reservation-title {
			font-size: 16px;
			font-weight: bold;
			padding: 20px;
			border-bottom: 1px solid #401c00;
			margin: 0 0 20px 0;
		}

		.holiday-color {
			color: red;
		}

		#calendar-info .calendar-th {
			background: #f7f3e8;
		}

		.modal-explanation {
			width: 400px;
			margin: 0 auto;
			font-size: 18px;
			font-weight: 300;
			color: #401c00;
		}

		.mobile-none {
			display: none;
		}

		.non-sign {
			display: block;
			font-size: 11px;
			color: #2e2f30;
		}

		.mobile-modal {
			width: 90%;
			margin: 5px auto;
		}
	}

	.card-width {
		margin: 10px 10px 50px 10px !important;
	}
}

//new・showページ
.reservations-top {
	height: 100vh;
	margin: 50px 200px;
	padding: 30px;
	font-size: 15px;
	color: #401c00;
	border-radius: 6px;
	flex: 2;

	.reservation-new-title {
		font-size: 30px;
		font-weight: bold;
		padding: 20px;
		color: #401c00;
		border-bottom: 1px solid #401c00;
		margin: 0 0 20px 0;
	}

	#reservation-new-tables {
		th {
			text-align: center;
			vertical-align: middle;
			font-size: 20px;
			letter-spacing: 3px;
			background-color: #f7f3e8;
			color: #401c00;
			font-weight: 400;

			.sign-tag {
				margin-top: 3px;
			}
		}

		td {
			text-align: center;
			vertical-align: middle;
			letter-spacing: 3px;
			color: #401c00;
			font-weight: 400;
			font-size: 18px;
		}

		tr:nth-child(2n + 1) td {
			background-color: #fbfbfb;
		}

		.button.is-rounded {
			border-radius: 290486px;
			padding-right: 14px;
		}
	}

	.message-btn {
		text-align: center;
		border-radius: 5px;
		border: 2px solid #13b1c0;
		color: #13b1c0;
		text-decoration: none;
		padding: 9px 25px;
		background: #fff;
		cursor: pointer;
		font-weight: 700;
		margin-top: 30px;
	}

	.message-btn:hover {
		background: #51afbe;
		color: #fff;
	}

	.back-btn {
		text-decoration: none;
		padding: 20px 35px;
		cursor: pointer;
		font-weight: 500;
		margin-top: 30px;
	}

	.show-back-btn {
		text-decoration: none;
		padding: 20px 35px;
		cursor: pointer;
		font-weight: 500;
		margin-top: 30px;
	}
}

//new・showページのレスポンシブ
@media screen and (max-width: 1024px) {
	.reservations-top {
		height: 100vh;
		margin: 30px 300px 50px 300px;
		padding: 10px;
		font-size: 15px;
		color: #401c00;
		border-radius: 6px;
		flex: 2;

		#reservation-new-tables td {
			text-align: center;
			vertical-align: middle;
			letter-spacing: 3px;
			color: #401c00;
			font-weight: 400;
			font-size: 30px;
		}

		.reservation-new-title {
			font-size: 20px;
			font-weight: bold;
			padding: 30px;
			color: #401c00;
			border-bottom: 1px solid #401c00;
			margin: 0 0 20px 0;
		}

		#reservation-new-tables {
			th {
				text-align: center;
				vertical-align: middle;
				font-size: 14px;
				letter-spacing: 3px;
				background-color: #f7f3e8;
				color: #401c00;
				font-weight: 500;

				.sign-tag {
					margin-top: 3px;
				}
			}

			td {
				text-align: center;
				vertical-align: middle;
				letter-spacing: 3px;
				color: #401c00;
				font-weight: 400;
				font-size: 16px;
			}

			tr:nth-child(2n + 1) td {
				background-color: #fbfbfb;
			}

			.button.is-rounded {
				border-radius: 290486px;
				padding-right: 14px;
			}
		}

		.card-width {
			margin: 5px !important;
		}
	}
}

.container {
	// 予約リスト
	.list-title {
		font-size: 20px;
		border-bottom: 2px #7d3636 solid;
		width: 125px;
		margin: 20px 0 0 20px;
	}

	.reservation-list {
		display: inline-block;
		padding: 0.8em;
		margin: 30px 10px 10px 10px;
		border-radius: 3px;
		box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
			0 0px 0 1px rgba(10, 10, 10, 0.02);
		background: linear-gradient(to bottom right, #ffffff, #f7f0e7);
	}

	#tag-color {
		background: linear-gradient(to bottom right, #ffffff, #f7f0e7);
	}
}

// レスポンシブtitle
@media screen and (max-width: 1024px) {
	.container {
		// 予約リスト
		.list-title {
			font-size: 16px;
			border-bottom: 2px #7d3636 solid;
			width: 100px;
			margin: 20px 0 0 20px;
		}
	}
}

// モーダル内
.modal-card-body {
	.time-interval {
		margin: 3px;
	}
}

//index_pastページ
.index-past-top {
	height: 100vh;
	margin: 50px 10px;
	padding: 30px;
	font-size: 15px;
	color: #401c00;
	border-radius: 6px;
	flex: 2;

	.past-title {
		font-size: 30px;
		font-weight: bold;
		padding: 20px;
		color: #401c00;
		border-bottom: 1px solid #401c00;
		margin: 0 0 20px 0;
	}

	#reservation-past-tables {
		th {
			text-align: center;
			vertical-align: middle;
			font-size: 20px;
			letter-spacing: 3px;
			background-color: #f7f3e8;
			color: #401c00;
			font-weight: 400;

			.sign-tag {
				margin-top: 3px;
			}
		}

		td {
			text-align: center;
			vertical-align: middle;
			letter-spacing: 3px;
			color: #401c00;
			font-weight: 400;
			font-size: 18px;
		}

		tr:nth-child(2n + 1) td {
			background-color: #fbfbfb;
		}

		.button.is-rounded {
			border-radius: 290486px;
			padding-right: 14px;
		}
	}

	.message-btn {
		text-align: center;
		border-radius: 5px;
		border: 2px solid #13b1c0;
		color: #13b1c0;
		text-decoration: none;
		padding: 9px 25px;
		background: #fff;
		cursor: pointer;
		font-weight: 700;
		margin-top: 30px;
	}

	.message-btn:hover {
		background: #51afbe;
		color: #fff;
	}

	.back-btn {
		text-decoration: none;
		padding: 20px 35px;
		cursor: pointer;
		font-weight: 500;
		margin-top: 30px;
	}

	.show-back-btn {
		text-decoration: none;
		padding: 20px 35px;
		cursor: pointer;
		font-weight: 500;
		margin-top: 30px;
	}
}

//index_pastページのレスポンシブ
@media screen and (max-width: 1024px) {
	.index-past-top {
		height: 100vh;
		margin: 50px 10px;
		padding: 30px 5px;
		font-size: 20px;
		color: #401c00;
		border-radius: 6px;
		flex: 2;
		overflow-x: auto;
		white-space: nowrap;
		padding-left: 5px;
		padding-right: 5px;

		.past-title {
			font-size: 20px;
			font-weight: bold;
			padding: 20px;
			color: #401c00;
			border-bottom: 1px solid #401c00;
			margin: 0 0 20px 0;
		}

		.search {
			margin: 0 20px 10px 0;
		}

		#reservation-past-tables {
			th {
				text-align: center;
				vertical-align: middle;
				font-size: 12px;
				letter-spacing: 3px;
				background-color: #f7f3e8;
				color: #401c00;
				font-weight: 400;

				.sign-tag {
					margin-top: 3px;
				}
			}

			td {
				text-align: center;
				vertical-align: middle;
				letter-spacing: 3px;
				color: #401c00;
				font-weight: 400;
				font-size: 12px;
			}

			tr:nth-child(2n + 1) td {
				background-color: #fbfbfb;
			}

			.button.is-rounded {
				border-radius: 290486px;
				padding-right: 14px;
			}
		}

		.message-btn {
			text-align: center;
			border-radius: 5px;
			border: 2px solid #13b1c0;
			color: #13b1c0;
			text-decoration: none;
			padding: 9px 25px;
			background: #fff;
			cursor: pointer;
			font-weight: 400;
			margin-top: 30px;
		}

		.message-btn:hover {
			background: #51afbe;
			color: #fff;
		}

		.back-btn {
			text-decoration: none;
			padding: 12px 35px;
			cursor: pointer;
			font-weight: 400;
			margin-top: 30px;
		}

		.show-back-btn {
			text-decoration: none;
			padding: 12px 35px;
			cursor: pointer;
			font-weight: 400;
			margin-top: 30px;
		}
	}
}
