// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//indexページ
#reservations-calendar {
  height: 100%;
  margin: 100px;
  padding: 35px;
  font-size: 15px;
  color: #401c00;
  border-radius: 6px;
  flex: 2;

  .reservation-title {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid #401c00;
    margin: 0 0 20px 0;
  }

  .holiday-color {
    color: red;
  }

  .public-holiday {
    color: #c63f3f;
  }

  #calendar-info .calendar-th {
    background: #f7f3e8;
  }

  .modal-explanation {
    width: 400px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 300;
    color: #401c00;
  }
}

//new・showページ
.reservations-top {
  height: 100%;
  margin: 30px 300px 50px 300px;
  padding: 30px;
  font-size: 15px;
  color: #401c00;
  border-radius: 6px;
  flex: 2;

  .reservation-new-title {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid #401c00;
    margin: 0 0 20px 0;
  }

  #reservation-new-tables{
    th{
      text-align: center;
      vertical-align: middle;
      font-size: 20px;
      letter-spacing: 3px;
      background-color: #f7f3e8;
      color: #401c00;
      font-weight: 400;

      .sign-tag {
        margin-top: 3px;
      }
    }

    td{
      text-align: center;
      vertical-align: middle;
      letter-spacing: 3px;
      color: #401c00;
      font-weight: 400;
      font-size: 18px;
    }

    tr:nth-child(2n+1) td {
      background-color: #fbfbfb;
    }

    .button.is-rounded {
      border-radius: 290486px;
      padding-right: 14px;
    }
  }

  .message-btn {
    text-align: center;
    border-radius: 5px;
    border: 2px solid #13b1c0;
    color: #13b1c0;
    text-decoration: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-weight: 700;
    margin-top: 30px;
  }

  .message-btn:hover {
    background: #51afbe;
    color: #fff;
  }

  .back-btn {
    text-decoration: none;
    padding: 20px 35px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 30px;
  }

  .show-back-btn {
    text-decoration: none;
    padding: 20px 35px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 30px;
  }
}
