// Place all the styles related to the residents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the residents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*入居者一覧画面*/
.resident-head-button{
  display: flex;
  margin-bottom: 10px;
}

.resident--create-button{
  padding-top: 14px!important;
  margin-left: 8px;
}

.resident--update-button{
  padding-top: 10px!important;
}

#resident-modal-form{
  margin-left: 20px;
}

.resident-title{
  background-color: rgb( 117, 150, 224 );
}

/* テーブル内の位置調整と装飾 */
#table-residents {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
  thead th{/*table内のヘッダーに対して*/
    color: white;
    font-size:20px;
  }
  thead tr{
    background-color: rgb( 117, 150, 224 )
  }
  .tr-head {/*table内のラベル対して*/
      background-color: rgb( 188, 214, 226 )
    }
  .text-color{
    color:white;
  }
}
