// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 面会ルームのタイトル */
.hero-6 {
  background-size: cover;
  background-position: center;
  background-image: url('https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/video_room.jpg');

  h1 {
    font-size: 40px;
  }
}

.video_background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  background-position: center 50%;
  background-repeat: no-repeat;
  background-image: url("/Video_Room_photo.jpg");
  background-size: cover;
}

video::-webkit-media-controls-start-playback-button {
  pointer-events: none;
}

video::-webkit-media-controls-timeline {
  display: none;
}

video::-webkit-media-controls-current-time-display {
  display: none;
}

video::-webkit-media-controls-play-button {
  display: none;
  pointer-events: none;
}

video::-webkit-media-controls-pause-button {
  pointer-events: none;
}

#js-remote-streams {
  width: 100%;
}

#local-video {

  span#js-room-mode {
    display: none;
  }
}

//Room Name記入欄
#input-key {
  
  p {
    display: none;
  }

  h3 {
    display: none;
  }
}

//入室ボタン
#js-join-trigger {
  font-size: 22px;
}

//退室ボタン
#js-leave-trigger {
  font-size: 22px;
}

//送信ボタン
#js-send-trigger {
  font-size: 22px;
}

//戻るボタン
#return-btn {
  margin-top: 20px;
  font-size: 22px;
}

//タイマーアイコン
.time-icon {
  font-size: 30px;
  padding-right: 33px;
}

//タイマー
#timer {
  font-size: 25px;
}

//タイマーボタン
#buttonBox {
  background-color: #2A4462;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  padding: 0px;
  margin-left: auto;

  button#start {
    background-color: #01D1B2;
    font-size: 17px;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    padding: 0px;
    outline: none;
    overflow: hidden;
  }

  button#start span {
    display:inline-block;
    transition: .5s;
  }

  button#start:hover span {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

//テレビ電話のシステム表示
p#js-meta {
  display: none;
}

p.meta {
  display: none;
}

/* ご家族一覧 */
#user-table th {
  background-color: #FFDAB9;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

#user-table td {
  text-align: center;
  vertical-align: middle;
  padding: 15px 5px;
}

//User Name
.user-table-tag {
  font-size: 17px;
}

.hero .tabs ul {
  margin-right: 30px;
  margin-left: 30px;
}

.tabs a {
  font-size: 20px;
}


//検索フォーム
.search-user.input {
  font-size: 20px;
}

.search-btn-user.button {
  font-size: 20px;
}


/* ご家族マイページ */
.mypage-main-content {
  margin: 0px;
  display: flex;
  font-size: 2rem;
  min-height: 100vh;
}

.user-icon-field {
  height:150px;
  width:100%;
  border-style: dashed;
  border-width:2px;margin: 20px 0 20px 0;padding:10px;
  text-align: center;
  border-radius: 5px;
  color: #DEDEDE;
  text-decoration: none;
  font-size: 15px;
}

img#img_prev.user-edit-image {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
  margin-top: 20px;
}

mypage-aside {/*画面左*/
  position: fixed;
  width: 15.5%;
  height: 100%;
  font-size:15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: inset -1px 0px 0px 0px #DDDDDD;

  .profile-section{
    text-align: center;
    margin: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(102, 97, 91, 0.3);
  }

  .mypage-side-link{
    margin-top: 50px;
  }

  img.user-profile-image {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    display: inline-block;
    object-fit: cover;
  }

  input#user_image.user_img {
    color: #ccc;
    height: 250px!important;
    width: 100%;
    margin: 20px 0 20px 0;
    border-style: dashed;
    border-width: 2px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .panel-tab{
    margin: 35px 0px;
  }

  .panel-tab.is-active{
    position: relative;
    display: block;
    width: auto;
    height: auto;
    margin: 30px 0px;
  }

  .panel-tab.is-active::after{
    position: absolute;
    border-right: 17px solid #f4f3ef;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    content: "";
    top: -5px;
    right: 0px;
  }

  .panel-tab p{
    font-size: 17px;
    font-weight: lighter;
    text-align: left;
  }

  .panel-tab.is-active p{
    font-size: 17px;
    font-weight: normal;
    color:rgb(235,94,39);
  }

  i{
    text-align: center;
    float: left;
    line-height: 23px;
    font-size: 22px;
    color: gray;
    margin-left: 20px;
    width: 92px;
  }

  .panel-tab.is-active i{
    text-align: center;
    float: left;
    line-height: 23px;
    font-size: 22px;
    color: rgb(235,94,39);
    margin-left: 20px;
    width: 92px;
  }
}

.mypage-links{
  display: block;
  color:black;
  margin: 25px ;
}

mypage-main{/*画面中央*/
  padding-left: 15.5%;
  width: 100%;
  background-color: rgb(244,243,238);
  display: flex;
  margin-bottom: -25px;

  article{
    height: 100%;
    width: 100%;
  }


  /*背景画像*/
  .hero-image-user {
    background-size: cover;
    background-position: center;
  }

  .hero-image-user img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .user-home-image {
    position: relative;
  }

  .mypage-image {
    height: 170px;
    width: 100%;
  }

    /*アイコン*/
  .user-icon-outline{
    z-index: 1;
    display: none;
    position: absolute;
    width: 95px;
    height: 95px;
    top: 46%;
    left: 50%;
    border-radius: 50%;
    background-color: #fff;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }

  .user-icon-image {
    z-index: 2;
    display: none;
    position: absolute;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }

  .Web-section{
    margin-top: 30px;
    margin-left: 10px;
    overflow: scroll;
    overflow-y: hidden;
    height: 100%;
  }

  .card{
    background: linear-gradient(to bottom right, #ffffff, #f7f0e7);
  }

  #my-page-info-content{
    padding: 21px 18px;

    .media-left {
      margin-right: 8px;
      width: 71px;
    }

    #web-media-section{
      display: flex;
      border-left: solid 1px rgb(238,236,228);
    }

    .mypage-facility-icon-image{
      margin: 13px 0px 0px 15px;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      display: inline-block;
      object-fit: cover;
    }

    .mypage-info-icon-image{
      margin: 3px 10px 0px 0px;
      width: 45px;
      height: 45px;
      display: inline-block;
      object-fit: cover;
    }
  }

  #Web{
    .columns{
      padding: 0;
    }

    .column {
      width: 371px;
      display: block;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 0px;
      border-radius: 5px;
      margin: 10px 15px;
    }
  }

  sub{
    padding: 10px;
    width: 35%;
    border-left: solid 1px rgb(254,252,245);
  }

  #mypage-reserve-table tr{
    height: 30px;
    line-height: 24px;
    border-left: solid 3px darkgray;
  }

  #mypage-reserve-table th{
    width: 20%;
  }

  #mypage-reserve-table figure {
    margin: 0;
    text-align: center;
  }

  #mypage-reserve-table i {
    line-height: 2;
    font-size: 24px;
    color: #79c29a;
    text-align: center;
    display: block;
  }

  #edit-content{
    margin-top: 0px;
  }
}

#mypage-reservations-calendar {
  height: 100%;
  margin: 34px 8px 34px 15px;
  padding: 35px;
  font-size: 15px;
  border-radius: 6px;
  flex: 2;

  tr{
    background-color: white;
  }

  .button.is-info.is-outlined {
    background-color: transparent;
    border-color:  rgb(231,125,66);
    color: rgb(231,125,66);
  }

  #calendar-info .calendar-th {
    background:#f39560;
  }
}

.web-container{
  display: flex;
}

#mypage-reservations-list{
  flex: 1;
  height: 100%;
  margin: 35px 16px 13px 10px;
  font-size: 17px;
  border-radius: 6px;

  .card-content {
    background-color: transparent;
    padding: 1.5rem;
  }
}

.mypage-information{
  flex: 1;
  display: flex;
}

#mypage-user-box{
  width: 188px;
  padding: 8px 10px 7px 10px;
  margin: 8px 10px 8px 15px;
  border: solid 1px #9daba6;

  .media.media {
    border-top: 0px;
    display: flex;
    padding-top: 0px;
  }

  .image.is-64x64 {
    height: 64px;
    width: 47px;
  }

  strong{
    border-bottom: solid 1px rgb(201,199,193);
  }
}


// ログイン画面
.google-sentence {
  font-size: 30px;
  // color: red;
  // background-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
}

.google-privacy {
  text-align: center;
  color: black;
  margin-bottom: 100px;
  margin-top: 50px;
}

// プライバシーポリシー画面
.pp-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}

.pp-sentence {
  font-size: 20px;
}

.pp-black {
  margin-bottom: 40px;
}

.pp-border {
  border-bottom: solid 5px orange;
  margin-bottom: 20px;
}


/* ご家族編集画面 */
/*背景画像*/
.edit-image-user {
  background-size: cover;
  background-position: center;
  width: 70%;
  margin-left: auto;
}
  
.edit-image-user img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
  
.user-home-image {
  position: relative;
}
  
.mypage-image {
  height: 220px;
  width: 100%;
}

  /*アイコン*/
.user-icon-outline{
  z-index: 2;
  display: none;
  position: absolute;
  width: 95px;
  height: 95px;
  top: 46%;
  left: 50%;
  border-radius: 50%;
  background-color: #fff;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.user-icon-image {
  z-index: 2;
  display: none;
  position: absolute;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

//アイコン変更イメージ
.edit-image-icon {
  display: none;
}

//背景変更イメージ
.edit-image-background {
  display: none;
}

#edit-title {
  display: none;
}

.main-content {
  display: flex;
  font-size: 2rem;
  min-height: 100vh;
  padding-top: 3%;
}

aside {/*画面左*/
  width: 40%;
  font-size:15px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

//モバイルタグ
edit-aside {
  position: fixed;
  display: flex;
  width: 30%;
  height: 100%;
  top: 74px;
  font-size:15px;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(247, 240, 231, 1), rgba(242, 79, 79, 1) 100%);
  box-shadow: inset -1px 0px 0px 0px #DDDDDD;

  .edit-menu-title {
    text-align: center;
    font-weight: bold;
    margin-top: 34px;
    padding: 0px 67px;
    font-size: 30px;
    color: gray;
  }

  //サイドタグ内のユーザーアイコン
  img.user-profile-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: inline-block;
    object-fit: cover;
  }

  //サイドタグ内のアイコンレイアウト
  .profile-section{
    text-align: center;
    margin-top: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(102, 97, 91, 0.3);
  }

  .edit-side-link {
    width: 100%;
  }

  .panel-tab {
    width: auto;
    padding-bottom: 20px;
    margin: 10% 25% 10% 33%;
  }

  //サイドタグのホバーアニメーション
  .panel-tab p:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    border-bottom: solid 2px;
    margin-bottom: -2px;
    transition: 0.5s;
  }

  .panel-tab p:hover::after {
    width: 90%;
  }

  .panel-tab.is-active {
    position: relative;
    display: block;
    width: auto;
    height: auto;
  }

  .panel-tab p {
    font-size: 1.1em;
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding-bottom: 12px;
    width: 175px;
    transition: 0s;
    position: relative;
    cursor : pointer;
  }

  .panel-tab.is-active p {
    font-size: 1.1em;
    font-weight: bold;
    color:rgb(235,94,39);
  }

  i {
    text-align: center;
    float: left;
    line-height: 23px;
    font-size: 2.1em;
    color: #fff;
    width: 70px;
  }

  .panel-tab.is-active i {
    text-align: center;
    float: left;
    font-size: 2.1em;
    color: rgb(235,94,39);
    width: 70px;
  }
}

main {
  width: 50%;
}

.edit-links {
  display: block;
  color:black;
  margin: 25px ;
}

.user-aside-link {
  display: block;
  color:black;
  margin: 10px;
}

.user-edit-table {
  background:rgba(224, 231, 231, 0.605);
  width: 100%;
}

#u-edit-table tr {
  height: 45px;
  line-height: 45px;
}

#u-edit-table th {
  background-color: rgb(241,244,248);
}

.edit-hr {
  margin: 0px;
}

.edit-link {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}

.edit-tfoot {
  margin: 10px 0px;
}



// レスポンシブ
@media screen and (max-width: 1050px) {

  // マイページ
  mypage-aside {
    position: absolute;
    width: 100%;
    height: 57px;
    line-height: 58px;
    z-index: 1;
    top: 299px;
    background: linear-gradient(to bottom right, #ffffff, #f7f0e7);
    border-bottom: 1px solid #C0C0C0;

    .mypage-side-link {
      margin-top: 0px;
      display: flex;
    }

    .profile-section {
      display: none;
    }

    .panel-tab {
      margin: 0px;
      width: 25%;
      position: relative;
    }

    .panel-tab.is-active {
      margin: 0px;
      width: 25%;
      margin-bottom: 26px;
    }

    .panel-tab.is-active::after {
      display: none;
    }

    .panel-tab.is-active i {
      width: 100%;
      text-align: center;
      margin-left: 0px;
      line-height: 34px;
      font-size: 26px;
      z-index: 1;
      position: absolute;
      left: 0;
    }

    .panel-tab i {
      width: 100%;
      text-align: center;
      margin-left: 0px;
      line-height: 34px;
      font-size: 26px;
      z-index: 1;
      position: absolute;
      left: 0;
    }

    .panel-tab.is-active p {
      position: absolute;
      top: 15px;
      font-size: 12px;
      text-align: center;
      width: 100%;
      border-bottom: 2px solid;
      height: 43px;
    }

    .panel-tab p {
      position: absolute;
      top: 15px;
      font-size: 10px;
      text-align: center;
      width: 100%;
    }
  }


  .mypage-main-content {
    article {
      background-color: rgb(239,238,232);
      margin-bottom: 0px;
    }

    .Web-section {
      margin-top: 15px;
    }

    .web-container{
      display: block;
    }
  }


  mypage-main {
    padding-left: 0px;
    width: 100%;
    display: flex;
    
    .hero-image-user {
      margin-bottom: 77px;
    }

    //背景画像
    .mypage-image {
      height: 225px;
    }

    //ユーザー（アイコン）
    .user-icon-outline {
      display: block;
      width: 120px;
      height: 120px;
      top: 54%;
    }

    .user-icon-image {
      display: block;
      width: 120px;
      height: 120px;
    }

    #Web .columns {
      padding: 0;
      display: flex;
      overflow: scroll;
    }

    #edit-content p span{
      display: none;
    }

    #my-page-info-content {
      padding: 13px 18px;

      .media-left {
        margin-right: 0px;
        margin-left: 5px;
      }

      .mypage-facility-icon-image{
        margin: 10px 0px 0px 9px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        display: inline-block;
        object-fit: cover;
      }

      .mypage-info-icon-image{
        margin-right: 8px;
        margin-top: 0px;
        width: 40px;
        height: 40px;
        display: inline-block;
        object-fit: cover;
      }
    }
  }

  #mypage-reservations-calendar {
    padding: 25px 25px 15px 25px;
    margin: 15px;
  }

  #mypage-reservations-list {
    margin: 15px;

    .card-content {
      background-color: transparent;
      padding: 1.5rem;
      margin-bottom: 90px;
    }
  }

  #mypage-user-box .image.is-64x64 {
    height: 40px;
    width: 34px;
  }

  .media-left .image.is-48x48 {
    height: 45px;
    width: 40px;
  }

  //ユーザー編集画面
  .main-content {
    display: block;
    min-height: fit-content;
    padding-top: 8%;
    margin: 0px 0px 100px 0px;
  }

  aside {
    .edit-side-tab {
      display: none;
    }
  }

  //背景画像
  .edit-image-user {
    display: block;
    width: 100%;
  }

  .mypage-image {
    height: 225px;
  }

  //ユーザー（アイコン）
  .user-icon-outline {
    display: block;
    width: 120px;
    height: 120px;
    top: 54%;
  }

  .user-icon-image {
    display: block;
    width: 115px;
    height: 115px;
    top: 2%;
  }

  //タグ
  edit-aside {
    display: flex;
    position: absolute;
    width: 100%;
    height: 57px;
    line-height: 58px;
    z-index: 1;
    top: 299px;
    background: linear-gradient(to bottom right, #ffffff, #f7f0e7);
    border-bottom: 1px solid #C0C0C0;

    .edit-side-link {
      margin-top: 0px;
      display: flex;
    }

    .edit-menu-title {
      display: none;
    }

    .panel-tab {
      margin: 0px;
      width: 25%;
      position: relative;
    }

    .panel-tab.is-active {
      margin: 0px;
      width: 25%;
    }

    .panel-tab.is-active::after {
      display: none;
    }

    .panel-tab.is-active i {
      width: 100%;
      text-align: center;
      margin-left: 0px;
      line-height: 34px;
      font-size: 26px;
      z-index: 1;
      position: absolute;
      left: 0;
    }

    .panel-tab i {
      width: 100%;
      color: gray;
      text-align: center;
      margin-left: 0px;
      line-height: 34px;
      font-size: 26px;
      z-index: 1;
      position: absolute;
      left: 0;
    }

    .panel-tab.is-active p {
      position: absolute;
      top: 15px;
      font-size: 12px;
      text-align: center;
      width: 100%;
      border-bottom: 2px solid;
      height: 43px;
    }

    .panel-tab p {
      position: absolute;
      color: gray;
      top: 15px;
      font-size: 10px;
      text-align: center;
      width: 100%;
    }

    .panel-tab p:after {
      display: none;
    }

    .panel-tab p:hover::after  {
      display: none;
    }
  }

  main {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {

  //ご家族一覧のタイトルレイアウト
  .column.is-0-mobile {
    margin-top: 0px;
  }

  //ご家族一覧テーブル（th）
  #user-table th {
    font-size: 16px;
  }

  .table-layout {
    margin-bottom: 50px;
  }

  //【Video Room】
  //送信ボタン
  #js-send-trigger {
    margin-top: 17px;
  }
}

//モバイル
@media screen and (max-width: 500px) {

  //ご家族一覧検索フォーム
  .search-user.input {
    font-size: 16px;
    left: 8%;
  }

  .search-btn-user.button {
    font-size: 16px;
    left: 10%;
  }

  .user-table-tag {
    font-size: 14px;
  }

  //タブタイトル
  .tabs a {
    font-size: 14px;
  }

  mypage-main {

    //マイページ（背景画像）
    .mypage-image {
      height: 150px;
    }

    //ユーザー（アイコン）
    .user-icon-outline {
      width: 100px;
      height: 100px;
      top: 36%;
    }

    .user-icon-image {
      width: 100px;
      height: 100px;
    }
  }

  //タグ
  mypage-aside {
    top: 225px
  }

  //【ユーザ編集画面】
  //背景画像
  .edit-image-user {
    display: block;
  }

  .mypage-image {
    height: 150px;
  }

  //ユーザー（アイコン）
  .user-icon-outline {
    display: block;
    width: 100px;
    height: 100px;
    top: 42%;
  }

  .user-icon-image {
    display: block;
    width: 93px;
    height: 93px;
    top: 4%;
  }

  //アイコン変更イメージ
  .user-edit-icon-back {
    position: absolute;
    display: block;
    height: 27px;
    width: 27px;
    object-fit: cover;
    top: 53%;
    right: -4%;
    z-index: 3;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);

    //カメラマーク
    .user-edit-icon-image i {
      position: absolute;
      display: block;
      color: #fff;
      height: 27px;
      width: 27px;
      object-fit: cover;
      top: 25%;
      right: -21%;
      z-index: 4;
    }
  }

  //背景変更イメージ
  .user-edit-background-back {
    position: absolute;
    display: block;
    height: 27px;
    width: 27px;
    object-fit: cover;
    top: 40px;
    left: 167px;
    z-index: 3;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);

    //カメラマーク
    .user-edit-backgroung-image i {
      position: absolute;
      display: block;
      color: #fff;
      height: 27px;
      width: 27px;
      object-fit: cover;
      top: 5px;
      left: 6px;
      z-index: 4;
    }
  }

  #edit-title {
    display: block;
    background: linear-gradient(to bottom, rgba(247, 240, 231, 0.8) 0%, rgba(242, 79, 79, 0.8) 100%);

    h1 {
      color: #fff;
    }
  }

  .main-content {
    display: block;
    margin: 70px 0px;
    padding-top: 0px;
  }

  edit-aside {
    display: flex;
    position: absolute;
    width: 100%;
    height: 57px;
    line-height: 58px;
    z-index: 1;
    top: 299px;
    border-bottom: 1px solid #C0C0C0;

    .edit-side-link {
      margin-top: 0px;
      display: flex;
    }

    .panel-tab {
      margin: 0px;
      width: 25%;
      position: relative;
    }

    .panel-tab.is-active {
      margin: 0px;
      width: 25%;
      margin-bottom: 26px;
    }

    .panel-tab.is-active::after {
      display: none;
    }

    .panel-tab.is-active i {
      width: 100%;
      text-align: center;
      margin-left: 0px;
      line-height: 34px;
      font-size: 26px;
      z-index: 1;
      position: absolute;
      left: 0;
    }

    .panel-tab i {
      width: 100%;
      text-align: center;
      margin-left: 0px;
      line-height: 34px;
      font-size: 26px;
      z-index: 1;
      position: absolute;
      left: 0;
    }

    .panel-tab.is-active p {
      position: absolute;
      top: 15px;
      font-size: 12px;
      text-align: center;
      width: 100%;
      border-bottom: 2px solid;
      height: 43px;
    }

    .panel-tab p {
      position: absolute;
      top: 15px;
      font-size: 10px;
      text-align: center;
      width: 100%;
    }
  }

  #u-edit-table tr.image-change {
    display: none;
  }

  //【Video Room】
  .hero-6 {

    .hero-body {
      padding: 1.5rem 1.5rem;
    }

    h1 {
      font-size: 1.7rem;
    }
  }

  //インプット欄
  input#js-local-text::placeholder {
    font-size: 0.7em;
  }

  //お知らせ（Video Room）
  p.info-message {
    font-size: 0.7em;
  }

  //入室ボタン
  #js-join-trigger {
    font-size: 16px;
  }

  //退室ボタン
  #js-leave-trigger {
    font-size: 16px;
  }

  //送信ボタン
  #js-send-trigger {
    font-size: 17px;
    margin-top: 16px;
  }

  //戻るボタン
  #return-btn {
    font-size: 17px;
  }

  //タイマー
  #timer {
    font-size: 22px;
  }
}
