// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 面会ルームのタイトル */

.hero-1 {
  background-size: cover;
  background-position: center;
}

.video_background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  background-position: center 50%;
  background-repeat: no-repeat;
  background-image: url("/Video_Room_photo.jpg");
  background-size: cover;
}

/* ご家族一覧 */

#family-table th {
  background-color: #FFDAB9;
  font-size: 20px;
  text-align: center; 
}

#family-table td {
  text-align: center;
}

.hero .tabs ul {
  margin-right: 30px;
  margin-left: 50px;
}

/* 利用施設登録 */
.card-style {
  width: 340px;
  float: left;
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-img {
  background-image: url(/assets/home.jpg); 
  height: 600px;
  margin: 0 calc(50% - 50vw);
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.search-img:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(3px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.search-title {
  margin-top: 70px;
  color: white !important;
  margin-right: 140px;
  text-shadow:
    1px 1px 1px #003366,
    -1px 1px 1px #003366,
    1px -1px 1px #003366,
    -1px -1px 1px #003366,
    1px 0px 1px #003366,
    0px 1px 1px #003366,
    -1px 0px 1px #003366,
    0px -1px 1px #003366;
}

.search-input {
  width: 600px;
}

.search-btn {
  text-shadow:
    1px 1px 1px #003366,
    -1px 1px 1px #003366,
    1px -1px 1px #003366,
    -1px -1px 1px #003366,
    1px 0px 1px #003366,
    0px 1px 1px #003366,
    -1px 0px 1px #003366,
    0px -1px 1px #003366;
}

.btn-width {
  width: 40%;
  display: flex;
  margin-left: 90px;
}

// タブ機能
#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
  padding: 1rem;
  display: none;
}

#tabs-with-content .tab-content.is-active {
  display: block;
}