// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 面会ルームのタイトル */
.hero-1 {
  background-size: cover;
  background-position: center;
}

.video_background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  background-position: center 50%;
  background-repeat: no-repeat;
  background-image: url("/Video_Room_photo.jpg");
  background-size: cover;
}

/* ご家族一覧 */
#family-table th {
  background-color: #FFDAB9;
  font-size: 20px;
  text-align: center; 
}

#family-table td {
  text-align: center;
}

.hero .tabs ul {
  margin-right: 30px;
  margin-left: 50px;
}


/* ご家族マイページ */
.mypage-main-content {
  margin: 0px;
  display: flex;
  font-size: 2rem;
  min-height: 100vh;
}

mypage-aside {/*画面左*/
  position: fixed;
  width: 15.5%;
  font-size:15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: inset -1px 0px 0px 0px #DDDDDD;

  .profile-section{
    text-align: center;
    margin: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(102, 97, 91, 0.3);
  }

  .mypage-side-link{
    margin-top: 50px;
  }

  .user-profile-image{
    width: 50px;
    border-radius: 100px;
    display: inline-block;
  }

  .panel-tab{
    margin: 35px 0px;
  }

  .panel-tab.is-active{
    position: relative;
    display: block;
    width: auto;
    height: auto;
    margin: 30px 0px;
  }

  .panel-tab.is-active::after{
    position: absolute;
    border-right: 17px solid #f4f3ef;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    content: "";
    top: -5px;
    right: 0px;
  }

  .panel-tab p{
    font-size: 17px;
    font-weight: lighter;
    text-align: left;
  }

  .panel-tab.is-active p{
    font-size: 17px;
    font-weight: normal;
    color:rgb(235,94,39);
  }

  i{
    text-align: center;
    float: left;
    line-height: 23px;
    font-size: 22px;
    color: gray;
    margin-left: 20px;
    width: 92px;
  }

  .panel-tab.is-active i{
    text-align: center;
    float: left;
    line-height: 23px;
    font-size: 22px;
    color: rgb(235,94,39);
    margin-left: 20px;
    width: 92px;
  }
}

.mypage-links{
  display: block;
  color:black;
  margin: 25px ;
}

mypage-main{/*画面中央*/
  margin-left: 15.5%;
  width: 100%;
  background-color: rgb(244,243,238);
  display: flex;
  margin-bottom: -25px;

  article{
    height: 100%;
    width: 100%;
  }

  .Web-section{
    margin-top: 30px;
    margin-left: 10px;
    overflow: scroll;
    overflow-y: hidden;
    height: 100%;
  }

  .card{
    background: linear-gradient(to bottom right, #ffffff, #f7f0e7);
  }

  #my-page-info-content{
    padding: 21px 18px;

    #web-media-section{
      display: flex;
      border-left: solid 1px rgb(238,236,228);
    }

    .mypage-info-icon-image{
      margin: 13px 0px 0px 15px;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      display: inline-block;
      object-fit: cover;
    }
  }

  #Web{
    .columns{
      padding: 0;
    }

    .column {
      width: 371px;
      display: block;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 0px;
      border-radius: 5px;
      margin: 10px 15px;
    }
  }

  sub{
    padding: 10px;
    width: 35%;
    border-left: solid 1px rgb(254,252,245);
  }

  #mypage-reserve-table tr{
    height: 30px;
    line-height: 24px;
    border-left: solid 3px darkgray;
  }

  #mypage-reserve-table th{
    width: 20%;
  }

  #mypage-reserve-table figure {
    margin: 0;
    text-align: center;
  }

  #mypage-reserve-table i {
    line-height: 2;
    font-size: 24px;
    color: #79c29a;
    text-align: center;
    display: block;
  }

  #edit-content{
    margin-top: 0px;
  }
}

#mypage-reservations-calendar {
  height: 100%;
  margin: 34px 8px 34px 15px;
  padding: 35px;
  font-size: 15px;
  border-radius: 6px;
  flex: 2;

  tr{
    background-color: white;
  }

  .button.is-info.is-outlined {
    background-color: transparent;
    border-color:  rgb(231,125,66);
    color: rgb(231,125,66);
  }

  #calendar-info .calendar-th {
    background:#f39560;
  }
}

.web-container{
  display: flex;
}

#mypage-reservations-list{
  flex: 1;
  height: 100%;
  margin: 35px 16px 13px 10px;
  font-size: 17px;
  border-radius: 6px;
}

.mypage-information{
  flex: 1;
  display: flex;
}

#mypage-user-box{
  width: 228px;
  padding: 10px 10px 0px 10px;
  margin: 8px 10px 8px 15px;
  border: solid 1px #9daba6;

  .media.media {
    border-top: 0px;
    display: flex;
    padding-top: 0px;
  }

  .image.is-64x64 {
    height: 64px;
    width: 47px;
  }

  strong{
    border-bottom: solid 1px rgb(201,199,193);
  }
}


// ログイン画面
.google-sentence {
  font-size: 30px;
  // color: red;
  // background-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
}

.google-privacy {
  text-align: center;
  color: black;
}

// プライバシーポリシー画面
.pp-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}

.pp-sentence {
  font-size: 20px;
}

.pp-black {
  margin-bottom: 40px;
}

.pp-border {
  border-bottom: solid 5px orange;
  margin-bottom: 20px;
}


/* ご家族編集画面 */
.main-content {
  margin: 0px 100px;
  display: flex;
  font-size: 2rem;
  min-height: 100vh;
}

aside {/*画面左*/
  width: 25%;
  font-size:15px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

main {/*画面中央*/
  width: 75%;
  margin: 0 auto;
}

.user-aside-link{
  display: block;
  color:black;
  margin: 10px;
}

.user-edit-table{
  background:rgba(224, 231, 231, 0.605);
}

#u-edit-table tr{
  height: 45px;
  line-height: 45px;
}

#u-edit-table th{
  background-color: rgb(241,244,248);
}

.edit-hr{
  margin: 0px;
}

.edit-link{
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}

.edit-tfoot{
  margin: 10px 0px;
}



// レスポンシブ
@media screen and (max-width: 1000px) {
  // マイページ
  mypage-aside {
    position: fixed;
    width: 100%;
    height: 57px;
    line-height: 58px;
    bottom: 0;
    z-index: 50;

    .mypage-side-link {
      margin-top: 0px;
      display: flex;
    }

    .profile-section {
      display: none;
    }

    .panel-tab {
      margin: 0px;
      width: 25%;
      position: relative;
    }

    .panel-tab.is-active {
      margin: 0px;
      width: 25%;
    }

    .panel-tab.is-active::after {
      display: none;
    }

    .panel-tab.is-active i {
      width: 100%;
      text-align: center;
      margin-left: 0px;
      line-height: 34px;
      font-size: 26px;
      z-index: 1;
      position: absolute;
      left: 0;
    }

    .panel-tab i {
      width: 100%;
      text-align: center;
      margin-left: 0px;
      line-height: 34px;
      font-size: 26px;
      z-index: 1;
      position: absolute;
      left: 0;
    }

    .panel-tab.is-active p {
      position: absolute;
      top: 15px;
      font-size: 12px;
      text-align: center;
      width: 100%;
    }

    .panel-tab p {
      position: absolute;
      top: 15px;
      font-size: 12px;
      text-align: center;
      width: 100%;
    }
  }


  .mypage-main-content {
    article {
      background-color: rgb(239,238,232);
      margin-bottom: 0px;
    }

    .Web-section {
      margin-top: 15px;
    }

    .web-container{
      display: block;
    }
  }


  mypage-main {
    margin-left: 0;
    width: 100%;
    display: flex;

    #Web .columns {
      padding: 0;
      display: flex;
      overflow: scroll;
    }

    #edit-content p span{
      display: none;
    }

    #my-page-info-content {
      padding: 13px 18px;

      .media-left {
        margin-right: 8px;
      }

      .mypage-info-icon-image{
        margin: 5px 0px 0px 11px;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        display: inline-block;
        object-fit: cover;
      }
    }
  }

  #mypage-reservations-calendar {
    padding: 25px 25px 15px 25px;
    margin: 15px;
  }

  #mypage-reservations-list {
    margin: 15px;

    .card-content {
      background-color: transparent;
      padding: 1.5rem;
      margin-bottom: 90px;
    }
  }

  #mypage-user-box .image.is-64x64 {
    height: 40px;
    width: 34px;
  }

  .media-left .image.is-48x48 {
    height: 45px;
    width: 40px;
  }

  //ご家族一覧のタイトルレイアウト
  .column.is-0-mobile {
    margin-top: 0px;
  }

  //ご家族一覧テーブル（th）
  #family-table th {
    font-size: 11px;
  }
}
