<div class="footer-layout">
</div>
<footer>
  <div class="container is-fluid">
    <div class="content has-text-right footer-content">
      <%= link_to root_path do %>
        <h1 class="title-footer has-text-weight-normal" style="font-family: 'Quicksand', sans-serif;">
          <font color="#DAA520">O</font><font color="#fff">nli<font color="#FA8072">n</font></font><font color="#4682B4">e</font> <font color="#4DADA1">V</font><font color="#fff">isi</font><font color="#DF907C">t</font>
        </h1>
      <% end %>
    </div>
  </div>
</footer>
