<footer>
  <div class="container">
    <div class="content has-text-right">
        <%= link_to root_path do %>
          <h1 class="title is-size-3" style="font-family: Georgia;">
            <font color="#DAA520">O</font><font color="#fff">nli<font color="#FA8072">n</font></font><font color="#4682B4">e</font> <font color="#4DADA1">V</font><font color="#fff">isi</font><font color="#DF907C">t</font>
          </h1>
        <% end %>
    </div>
  </div>
</footer>