<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <i class="fas fa-photo-video fa-2x fa-border" style="margin-right: 10px; color: paleturquoise;"></i>
      <h1 class="title is-8" style="font-family: Georgia; color: paleturquoise">Online Visit</h1>
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
<!--    <div class="navbar-start" style="font-weight: bold;">-->
<!--      <a class="navbar-item">-->
<!--        トップ-->
<!--      </a>-->

<!--      <a class="navbar-item">-->
<!--        予約状況一覧-->
<!--      </a>-->

<!--      <a class="navbar-item">-->
<!--        入居者一覧-->
<!--      </a>-->

<!--      <a class="navbar-item">-->
<!--        お問い合わせ-->
<!--      </a>-->

<!--      <a class="navbar-item">-->
<!--        お知らせ-->
<!--      </a>-->

<!--      <div class="navbar-item has-dropdown is-hoverable">-->
<!--        <a class="navbar-link">-->
<!--          More-->
<!--        </a>-->

<!--        <div class="navbar-dropdown">-->
<!--          <a class="navbar-item">-->
<!--            About-->
<!--          </a>-->
<!--          <a class="navbar-item">-->
<!--            Jobs-->
<!--          </a>-->
<!--          <a class="navbar-item">-->
<!--            Contact-->
<!--          </a>-->
<!--          <hr class="navbar-divider">-->
<!--          <a class="navbar-item">-->
<!--            Report an issue-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
    </div>

    <div class="navbar-end">
      <div class="navbar-start" style="font-weight: bold;">
        <a class="navbar-item">
          トップ
        </a>

        <a class="navbar-item">
          予約状況一覧
        </a>

        <a class="navbar-item">
          入居者一覧
        </a>

        <a class="navbar-item">
          お問い合わせ
        </a>

        <a class="navbar-item">
          お知らせ
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>新規登録</strong>
          </a>
          <a class="button is-light">
            ログイン
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
